<div [formGroup]="group" class="gmap-place col-xs-12">
  <div class="form-group">
    <input formControlName="place" placeholder="Search & tag an activity or place" autocorrect="off"
           autocapitalize="off"
           spellcheck="off" type="text" class="form-control" #search>
    <input hidden type="text" formControlName="lat">
    <input hidden type="text" formControlName="lng">
    <small [hidden]="group.controls.place.valid" class="text-danger">This field is required</small>
  </div>
  <div class="form-group">
    <textarea *ngIf="description" formControlName="description" class="form-control" name="" id="" cols="20" rows="3"
              placeholder="Write your comments"></textarea>
  </div>
  <div class="form-group" *ngIf="image">
    <label class="upload-image-label"> <i class="fa fa-plus"></i>&nbsp;Add image
      <input type='file' (change)="readUrl($event)">
    </label>
    <input [hidden]="true" formControlName="image" type='text'>
    <img *ngIf="imageUrl" [src]="imageUrl" width="100%"/>
  </div>
</div>
