<div class="user-info-wrap">
  <div class="avatar-wrap col-xs-7 col-sm-7 col-md-12 col-lg-12">
    <div class="avatar">
      <img class="user-avatar pull-left" [src]="currentUser.avatar" width="100">
      <div class="user-name-wrap">
        <span class="user-name text-ellipsis" [routerLink]="['/'+currentUser.slug]">
          {{currentUser.name | truncate: 17}}
        </span>
        <div class="follow-btn-wrap">
          <a class="follow-btn unfollow-btn follow" *ngIf="!currentUser.followed" (click)="onFollow()">Follow</a>
          <a class="follow-btn unfollow-btn" *ngIf="currentUser.followed" (click)="onUnFollow()">Unfollow</a>
        </div>
      </div>
    </div>
  </div>
  <div class="follow-wrap col-xs-5 col-sm-5 col-md-12 col-lg-12">
    <div class="follow-item" [routerLink]="['/'+currentUser.slug+'/following']" routerLinkActive="active"
         [routerLinkActiveOptions]="{exact: true}">
      <strong class="follow-number">{{ currentUser.followingNumber }}</strong>
      <p class="follow-number-label">Following</p>
    </div>
    <div class="follow-item" [routerLink]="['/'+currentUser.slug+'/follower']" routerLinkActive="active"
         [routerLinkActiveOptions]="{exact: true}">
      <strong class="follow-number">{{ currentUser.followerNumber }}</strong>
      <p class="follow-number-label">Followers</p>
    </div>
  </div>
</div>
<div class="clear"></div>
<div *ngIf="currentUser.showNav">
  <ul class="member-nav">
    <li [routerLink]="['/'+currentUser.slug+'/profile-edit']" routerLinkActive="active"
        [routerLinkActiveOptions]="{exact: true}" class="col-xs-3 col-md-12 col-lg-12 text-ellipsis">My Profile
    </li>
    <li [routerLink]="['/'+currentUser.slug+'/setting']" routerLinkActive="active"
        [routerLinkActiveOptions]="{exact: true}"
        class="col-xs-3 col-md-12 col-lg-12 text-ellipsis">Settings
    </li>
    <li [routerLink]="['/'+currentUser.slug+'/interest']" routerLinkActive="active"
        [routerLinkActiveOptions]="{exact: true}"
        class="col-xs-3 col-md-12 col-lg-12 text-ellipsis">Interests
    </li>
    <li [routerLink]="['/'+currentUser.slug+'/favorite']" routerLinkActive="active"
        [routerLinkActiveOptions]="{exact: true}"
        class="col-xs-3 col-md-12 col-lg-12 text-ellipsis">Favorites
    </li>
    <li [routerLink]="['/logout']" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"
        class="hidden-xs hidden-sm hidden-md col-lg-12 text-ellipsis">Logout
    </li>
  </ul>
</div>
<div *ngIf="!currentUser.showNav">
  <ul class="member-nav">
    <li [routerLink]="['/' + currentUser.slug]" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"
        class="col-xs-5 col-sm-5 col-md-12 col-lg-12 text-ellipsis">@{{currentUser.slug}}
    </li>
    <li [routerLink]="['/curate']" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"
        class="col-xs-3 col-sm-3 col-md-12 col-lg-12 text-ellipsis">Lists
    </li>
    <li [routerLink]="['/home']" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"
        class="col-xs-4 col-sm-4 col-md-12 col-lg-12 text-ellipsis">Activities
    </li>
  </ul>
</div>
