<div class="user-info-wrap">
  <div *ngIf="show" class="avatar-wrap">
    <a class="avatar">
      <img class="user-avatar pull-left" [src]="data.userAvatar" [alt]="data.userName" width="100">
      <span class="user-name" *ngIf="data.firstName || data.lastName">{{data.firstName+' '+data.lastName | truncate: 17}}</span>
    </a>
  </div>
  <div class="follow-wrap">
    <div class="follow-item" [routerLink]="['/member/following']" routerLinkActive="active"
         [routerLinkActiveOptions]="{exact: true}">
      <strong class="follow-number">{{ data.followingNumber }}</strong>
      <p class="follow-number-label">Following</p>
    </div>
    <div class="follow-item" [routerLink]="['/member/follower']" routerLinkActive="active"
         [routerLinkActiveOptions]="{exact: true}">
      <strong class="follow-number">{{ data.followerNumber }}</strong>
      <p class="follow-number-label">Followers</p>
    </div>
  </div>
</div>
<div class="clear"></div>
<div *ngIf="data.showNav">
  <ul class="member-nav">
    <li [routerLink]="['/member/profile-edit']" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" class="text-ellipsis">My
      Profile
    </li>
    <li [routerLink]="['/member/setting']" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" class="text-ellipsis">Setting
    </li>
    <li [routerLink]="['/member/interest']" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" class="text-ellipsis">
      Interest
    </li>
    <li [routerLink]="['/member/favorite']" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" class="text-ellipsis">
      Favorites
    </li>
    <li [routerLink]="['/auth/logout']" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" class="text-ellipsis">Logout</li>
  </ul>
</div>
<div *ngIf="!data.showNav">
  <ul class="member-nav">
    <li [routerLink]="['/member/profile-edit']" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" class="text-ellipsis">
      {{data.email}}
    </li>
    <li [routerLink]="['/member/profile-edit']" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" class="text-ellipsis">List</li>
    <li [routerLink]="['/member/favorite']" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" class="text-ellipsis">
      Activities
    </li>
  </ul>
</div>
