<article class="row new-list">
  <!--header start-->
  <header>
    <ul>
      <li class="internal-link" (click)="switchView()" [class.active]="!showPreview">Event Info</li>
      <li class="internal-link" (click)="switchView()" [class.active]="showPreview">Preview</li>
    </ul>
  </header>
  <!--header end-->

  <!--form wrap start-->

  <div class="form-wrap col-xs-12 col-md-6" [class.hide]="showPreview">

    <form class="form-horizontal" [formGroup]="eventForm" (ngSubmit)="onSubmit()">
      <div class="input-box row">
        <h3 class="col-md-12 col-xs-12">Share an Event</h3>
        <small class="col-md-12 col-xs-12">An event is an activity tagged to a place </small>
        <div class="form-group col-md-12 col-xs-12">
          <label for="event-name">Name</label>
          <input placeholder="E.g Prawing in Punggol" formControlName="eventName" id="event-name" class="form-control" type="text">
        </div>
        <div class="form-group col-md-12 col-xs-12">
          <label>Details</label>
          <div class="row">
            <app-tinymce formControlName='eventDetail'></app-tinymce>
          </div>
        </div>

        <div class="form-group col-md-12 col-xs-12">
          <label>Location/Place</label>
          <app-gmap-auto-place [group]="eventForm.controls.eventPlace" [description]="false" [image]="false"></app-gmap-auto-place>
        </div>
        <div class="form-group col-md-12 col-xs-12">
          <label for="event-category">Category</label>
          <select name="" id="event-category" formControlName="eventCategory">
            <option value="" selected="selected">Select a category</option>
            <option *ngFor="let cat of categories, let i = index"  [value]="cat.id">{{cat.name}}</option>
          </select>
        </div>
        <div class="form-group list-img-box col-md-12 col-xs-12">
          <label class="control-label">Images</label>
          <label class="control-label " id="list-img-label" for="listImg">
            <i class="fa fa-plus"></i>&nbsp;Add images
            <input class="form-control col-xs-12" id="listImg" formControlName="eventImages" type='file'
                   (change)="readUrl($event)" multiple="multiple">
          </label>
          <div class="list-img-wrap">
            <div *ngFor="let img of previewUrl" class="preview-wrap">
              <img [src]="img" />
              <a class="fa fa-times delete-btn" (click)="onRemovePreview(img)"></a>
            </div>
          </div>
        </div>
      </div>
      <div class="option-info col-xs-12 col-md-12">
        <a (click)="showMore = !showMore">
          <i class="fa" [class.fa-plus]="!showMore" [class.fa-minus]="showMore"  aria-hidden="true"></i> Optional info
        </a>
      </div>
      <div *ngIf="showMore" class="row">
        <div class="input-box col-xs-12 col-md-6">
          <div class="form-group">
            <label for="event-date">Date & Time</label>
            <input id="event-date" required formControlName="eventDate" ngui-datetime-picker  />
          </div>
          <div class="form-group">
            <label for="event-price">Price</label>
            <input formControlName="eventPrice" id="event-price" class="form-control" type="text">
          </div>
          <div class="field-group row">
            <label>Call to action</label>
            <div class="form-group" formGroupName="call2action">
              <select name="" id="event-type" formControlName="eventType">
                <option *ngFor="let type of types" [value]="type.value">{{type.display}}</option>
              </select>
              <input formControlName="eventLink" id="event-link" class="form-control" type="text">
            </div>
          </div>
          <div class="form-group">
            <label>Mentions by</label>
            <div formArrayName="eventMentions">
              <div class="form-group" *ngFor="let mention of eventForm.controls.eventMentions.controls; let i=index">
                <input type="text" class="form-control" [formControlName]="i">
              </div>
            </div>
          </div>
          <div class="form-group">
            <button type="button" class="btn btn-success" (click)="addMention()">
              <i class="fa fa-plus"></i>&nbsp;Add Mention
            </button>
          </div>
        </div>
      </div>

      <div class="form-actions col-xs-12 col-md-12">
        <button type="submit" class="btn btn-primary">Share</button>
        <button type="button" class="btn btn-success" (click)="onPreview()">Preview</button>
      </div>
    </form>
  </div>
  <!--form wrap end-->

  <!--list preview wrap start-->
  <div class="list-preview-wrap" [class.hide]="!showPreview" *ngIf="appState.state.eventPreview">
    <div class="row">
      <div class="col-md-7">
        <div class="event-title">
          <img src="../../../assets/icon/icon-left/icon-left.png" srcset="../../../assets/icon/icon-left/icon-left@2x.png 2x,
             ../../../assets/icon/icon-left/icon-left@3x.png 3x" class="icon_left">
          <span class="One-Direction-Concer" [innerHTML]="appState.state.eventPreview.eventName"></span>
        </div>

        <hr>

        <div class="row information-event">
          <ul class="left-content-information-event">
            <li>
              <p>location</p><span>{{appState.state.eventPreview.eventPlace.place}}</span>
            </li>
            <li>
              <p>date / time</p><span>{{appState.state.eventPreview.eventDate}}</span>
            </li>
            <li>
              <p>price range</p>
              <span>{{appState.state.eventPreview.eventPrice}}<b>.</b>
                <a href="{{appState.state.eventPreview.call2action.eventLink}}">
                  <strong>{{appState.state.eventPreview.call2action.eventLink}}</strong>
                </a>
              </span>
            </li>
            <li>
              <p>Mentioned by</p>
              <ul class="list-mention">
                <li *ngFor="let mention of appState.state.eventPreview.eventMentions">
                  <a [href]="mention" target="_blank">
                    <img [src]="'https://www.google.com/s2/favicons?domain=' + mention">
                  </a>
                </li>
              </ul>
            </li>
          </ul>
        </div>

        <hr>

        <div class="detail-event">
          <h5 class="bold">Details</h5>
          <p [innerHTML]="appState.state.eventPreview.eventDetail">
          </p>
        </div>

        <hr>

        <div class="post-experience">
          <h5 class="bold">Post your experience</h5>
          <p>
            <i fa [name]="'star-o'" [size]=1></i>
            <i fa [name]="'star-o'" [size]=1></i>
            <i fa [name]="'star-o'" [size]=1></i>
            <i fa [name]="'star-o'" [size]=1></i>
            <i fa [name]="'star-o'" [size]=1></i>
          </p>
          <p>
            <textarea style="min-width: 90%" placeholder="What's your experience here?"></textarea>
          </p>
          <p>
            <a>+ Add Images</a>
          </p>
        </div>
      </div>

      <div class="col-md-5">

        <div class="row">
          <carousel [interval]="NextPhotoInterval" [noWrap]="noLoopSlides" [noTransition]="noTransition" [carouselSlides]="slides">
            <slide *ngFor="let slide of slides; let index=index" [active]="slide.active" [ngStyle]="{'background-image': 'url(' + slide.image + ')', 'height': '400px', 'background-size': 'cover'}">
            </slide>
          </carousel>
        </div>

        <div class="event-location">
          <p>Location</p>
          <sebm-google-map [latitude]="appState.state.eventPreview.eventPlace.lat" [longitude]="appState.state.eventPreview.eventPlace.lng"
            [zoom]="13">
            <sebm-google-map-marker [latitude]="appState.state.eventPreview.eventPlace.lat" [longitude]="appState.state.eventPreview.eventPlace.lng">
            </sebm-google-map-marker>
          </sebm-google-map>
        </div>

      </div>

    </div>
  </div>
  <!--list preview wrap end-->

</article>
