<article class="column col-sm-10 no-padding" *ngIf="ready" [style.width]="layoutWidth - 30 + 'px'">
  <div class="detail-page">
    <div class="content col-md-6" [style.width]="layoutWidth/2 - 30 + 'px'">
      <!-- wrap xx start -->
      <div class="wrap-xx" [@slideInOutAnimation]="companyStatus">
        <!-- company wrap start -->
        <div class="company-wrap">
          <!-- carousel start -->
          <div class="carousel">
            <app-boostrap-carousel [interval]="NextPhotoInterval" [noWrap]="noLoopSlides" [noPause]="true"
                                   [noTransition]="noTransition">
              <app-slide-carousel *ngFor="let slide of slides; let index=index"
                                  [ngStyle]="{
                                    'background-image': 'url(' + slide.image + ')',
                                     'height': '400px', 'background-size': 'cover',
                                     'background-position': 'center'
                                   }">
              </app-slide-carousel>
              <i class="sprite sprite-icon-left-white"></i>
              <i class="icon-sm"
                 [class.icon-heart]="!bookmarked"
                 [class.icon-heart-selected]="bookmarked"
                 (click)="toggleBookmark()" aria-hidden="true"
                 *ngIf="!user.isAnonymous">
              </i>
            </app-boostrap-carousel>
          </div>
          <!-- carousel end -->
          <!-- company header start -->
          <div class="company-header">
            <div class="row">
              <div class="col-lg-6 col-md-12">
                <h3>{{name}}</h3>
              </div>
              <div class="col-lg-3 col-md-6">
                <div class="rating-star">
                  <rating [(ngModel)]="rating" [float]="true" [readonly]="true" emptyIcon="★"></rating>
                </div>
              </div>
              <div class="col-lg-3 col-md-6 head-right">
                <div class="google-plus-point">
                  <div class="rating-number">
                    {{rating}}/5
                  </div>
                  <div class="google-plus-dropdown-button">
                    <a>
                      <i class="fa fa-google-plus" aria-hidden="true"></i>
                      <i class="fa fa-angle-down" aria-hidden="true"></i>
                    </a>
                  </div>
                </div>
              </div>
            </div>


            <div class="company-description-wrap" *ngIf="description">
              <div *ngIf="descTruncated">
                <div class="company-description">{{description | truncate:200 }}</div>
                <div class="company-description">{{description | slice:0:200}}</div>
                <div class="read-more" *ngIf="description.length>200" (click)="showMore()">
                  <i class="fa fa-angle-down" title="Show more"></i>
                </div>
              </div>
              <div *ngIf="!descTruncated">
                <div class="company-description">{{description}}</div>
                <div class="read-more" (click)="showLess()"><i class="fa fa-angle-up" title="Show less"></i></div>
              </div>
            </div>
          </div>
          <!-- company header end -->
          <!-- company info start -->
          <div class="company-info">
            <p>
              <span class="info-label"><i class="sprite sprite-location"></i><span>Location</span></span>
              <a>{{location.name}}</a>
            </p>
            <p *ngIf="website">
              <span class="info-label"><i class="sprite sprite-permalink-gray"></i><span>Website</span></span>
              <a [href]="website" target="_blank" title="Go to company's website">{{website}}</a>
            </p>
            <p *ngIf="phone">
              <span class="info-label"><i class="sprite sprite-phone_icon"></i><span>Phone No.</span></span>
              <a href="tel:{{phone}}" title="Call now">{{phone}}</a>
            </p>
            <p *ngIf="openingHours.length">
              <span class="info-label"><i class="sprite sprite-time_icon_grey"></i>
                <span>Opening Hours</span>
              </span>
              <span class="info-value" ngbDropdown *ngIf="openingHours.length">
                <span ngbDropdownToggle>
                  <span [innerHTML]="openingHours[0]"></span>
                  <i aria-hidden="true" class="fa fa-angle-down"></i>
                </span>
                <span class="dropdown-menu">
                  <a class="dropdown-item" aria-expanded="false" *ngFor="let hours of openingHours">
                    {{hours}}
                  </a>
                </span>
              </span>
            </p>

          </div>
          <!-- company info end -->
        </div>
        <!-- company wrap end -->
        <!-- reviews wrap start -->
        <div class="reviews-wrap">
          <div class="experience-top">
            <h4 class="title-experiences-area">Latest Reviews</h4>
            <a *ngIf="!rated" (click)="showReviewModal()" class="post-your-experience">Write a Review</a>
          </div>
          <div *ngIf="reviews">
            <company-review *ngFor="let review of reviews.slice(0, 2); let index = index" [review]="review"
                            (onClickLike)="onLikeReview($event)">
            </company-review>
          </div>
          <!-- reviews wrap end -->
        </div>
        <!-- wrap xx end -->
        <div class="view-all-reviews-button" *ngIf="reviews.length > 2">
          <a class="view-all" (click)="viewReviews()">
            View All Reviews ({{reviews.length}})
          </a>
        </div>
      </div>

      <div class="all-reviews-wrap" [@slideInOutAnimation]="commentPosition">
        <div class="experience-top">
          <a (click)="goBack()" class="left-arrow">
            <i class="sprite sprite-icon-left"></i>
          </a>
          <h4 class="title-experiences-reviews-area">Latest Reviews</h4>
          <a *ngIf="!rated" (click)="showReviewModal()" class="view-all-post-your-experience">Write a Review</a>
        </div>
        <company-review *ngFor="let review of reviews; let index = index" [review]="review"
                        (onClickLike)="onLikeReview($event)">
        </company-review>
      </div>

      <app-write-review [user]="user" [company]="company" [submitted]="showForm"
                        (change)="postReview($event)"></app-write-review>

      <div class="mobile-footer"></div>
    </div>
    <div class="col-md-6 map-fix hidden-md hidden-xs hidden-sm" style="position: relative;" id="right" >
      <div style="position: fixed; height: 100%;" [style.width]="layoutWidth/2 - 30 + 'px'">
        <sebm-google-map [latitude]="location.lat" [longitude]="location.lng" [zoom]="15">
          <sebm-google-map-marker [latitude]="location.lat"
                                  [longitude]="location.lng" [iconUrl]="'assets/icon/locationmarker.png'">
          </sebm-google-map-marker>
        </sebm-google-map>
      </div>
    </div>
  </div>
</article>
