<div class="setting-wrap table-wrap" *ngIf="ready">
  <div class="col-xs-12 col-md-4 col-lg-3 col-left table-cell">
    <app-member-navigation [user]="user" [slugName]="slugName"></app-member-navigation>
  </div>
  <div class="col-xs-12 col-md-8 col-lg-9 col-right table-cell">
    <div class="fav-component">
      <h3 class="favorites-title">Favorites</h3>
      <div class="col-xs-12 alert-box">
        <app-boostrap-alert *ngIf="msgContent" [type]="alertType" [content]="msgContent"></app-boostrap-alert>
      </div>
      <div class="btn-group tab-control">
        <button class="btn btn-default" (click)="onSelectFavoriteType('event')"
                [class.active]="selectedFavoriteType === 'event'">Events
        </button>
        <button class="btn btn-default" (click)="onSelectFavoriteType('list')"
                [class.active]="selectedFavoriteType === 'list'">Lists
        </button>
        <button class="btn btn-default" (click)="onSelectFavoriteType('place')"
                [class.active]="selectedFavoriteType === 'place'">Places
        </button>
      </div>
      <div class="tab-wrap">
        <div class="tab-content fade" *ngIf="events" [class.in]="selectedFavoriteType === 'event'">
          <app-favorite-event *ngFor="let fav of events"
                              [item]="fav"
                              [canDelete]="canDelete"
                              (onClickDelete)="onClickDeleteEvent($event)">
          </app-favorite-event>
          <div class="list-bottom">
          </div>
          <app-small-loader></app-small-loader>
        </div>
        <div class="tab-content fade" *ngIf="lists" [class.in]="selectedFavoriteType === 'list'">
          <app-favorite-list *ngFor="let fav of lists"
                             [item]="fav"
                             [canDelete]="canDelete"
                             (onClickDelete)="onClickDeleteList($event)">
          </app-favorite-list>
          <div class="list-bottom">
          </div>
          <app-small-loader></app-small-loader>
        </div>
        <div class="tab-content fade" *ngIf="places" [class.in]="selectedFavoriteType === 'place'">
          <app-favorite-place *ngFor="let fav of places"
                              [item]="fav"
                              [canDelete]="canDelete"
                              (onClickDelete)="onClickDeletePlace($event)">
          </app-favorite-place>
          <div class="list-bottom">
          </div>

          <app-small-loader></app-small-loader>
        </div>
      </div>

    </div>
    <div class="mobile-footer"></div>
  </div>
</div>

