<div class="overlay" [class.active]="status">
  <div class="form-review popup">
    <h3>How is Your Experience With ABC Restaurant <span class="close-button" (click)="closeForm()">×</span></h3>
    <form [formGroup]="reviewForm" (ngSubmit)="onSubmit()">
      <div class="header-review">
        <img src="https://www.iconfinder.com/data/icons/linecon/512/photo-64.png">
        <ngb-rating [(rate)]="currentRate">
          <ng-template let-fill="fill">
            <span class="star" [class.filled]="fill === 100">&#9733;</span>
          </ng-template>
        </ngb-rating>
      </div>
      <div class="form-group">
        <textarea formControlName="text" rows="4" cols="60" placeholder="What's your experience here">
        </textarea>
      </div>
      <div class="form-group list-img-box">
        <label class="control-label " id="list-img-label" for="listImg">
          <i class="fa fa-plus"></i>&nbsp;Add images
          <input class="form-control col-xs-12" id="listImg" formControlName="images" type='file'
                 (change)="readUrl($event)" multiple="multiple">
        </label>
        <div class="list-img-wrap clearfix">
          <div *ngFor="let img of previewUrl" class="preview-wrap">
            <img [src]="img"/>
            <a class="fa fa-times delete-btn" (click)="onRemovePreview(img)"></a>
          </div>
        </div>
      </div>
      <button class="btn_submit" type="submit">Submit My Review</button>
    </form>
  </div>
</div>
