.favorites-title {
    margin-left: 20px;
}
.nav-tabs li:first-child {
    margin-left: 20px;
}
.nav-tabs li:nth-child(2) {
    border-right: 0;
    border-left: 0;
}
.nav-tabs li {
    border: 1px solid #ccc;
}
.tab-content {
    margin-left: 20px;
}
.nav-tabs li a {
    border: 0px;
    width: 80px;
    text-align: center;
    color: #555;
}


.wrap-each-items {
    border-bottom: 1px solid #ccc;
    width: 50%;
    height: 180px;
    margin-top: 30px;
}
.avatar-profile {
    width: 130px;
    height: 150px;
    background: #ccc;
    float: left;
    margin-right: 8px;
    position: relative;
}
.month {
    position: absolute;
    top: 12%;
    left: 8%;
    font-size: 12px;
}
.date-number {
    position: absolute;
    top: 25%;
    left: 6%;
    font-size: 24px;
    font-weight: bold;
}
.heart {
    position: absolute;
    top: 8%;
    right: 10%;
    font-size: 22px;
    font-weight: bold;
}

h4.information-title  {
    margin-top: 0px;
    font-weight: bold;
    font-size: 16px;
}
p.detail-information {
    width: 82%;
    font-size: 13px;
    margin-bottom: 21px;
}
.information-profile {
    width: 70%;
    float: left;
    margin-left: 8px;
    position: relative;
}
h5.mentioned {
    float: left;
    text-transform: uppercase;
    margin-top: 0px;
    font-size: 10px;
    width: 15%;
    line-height: 16px;
    margin-right: 18px;
    color: #bfbfbf;
}
ul.mentioned-item li {
    list-style: none;
    background: #ccc;
    float: left;
    margin-right: 8px;
    width: 30px;
    height: 30px;
    border: 2px solid #ccc;
}
.price-button{
    position: absolute;
    top: 0%;
    right: 0%;
    border: 2px solid #555;
    padding: 5px 12px;
    border-radius: 8px;
    text-transform: uppercase;
    color: #000;
    font-weight: bold;
}
.right-arrow {
    position: absolute;
    top: 39%;
    right: 1%;
    font-size: 22px;
    color: #bdbcbc;
    font-weight: normal;
}