<div class="setting-wrap table-wrap">
  <div class="col-lg-3 col-sm-4 col-xs-12 col-left table-cell">
    <app-member-navigation [data]="userInfo"></app-member-navigation>
  </div>
  <div class="col-lg-9 col-sm-8 col-xs-12 col-right table-cell">
    <div class="fav-component">
      <h3 class="favorites-title">Favorites</h3>
      <div class="btn-group tab-control">
        <button class="btn btn-default" (click)="onSelectFavoriteType('event')" [class.active]="selectedFavoriteType === 'event'">Event</button>
        <button class="btn btn-default" (click)="onSelectFavoriteType('list')" [class.active]="selectedFavoriteType === 'list'">Lists</button>
        <button class="btn btn-default" (click)="onSelectFavoriteType('place')" [class.active]="selectedFavoriteType === 'place'">Places</button>
      </div>
      <div class="tab-wrap">
        <div class="tab-content fade" *ngIf="userInfo.events" [class.in] = "selectedFavoriteType === 'event'">
          <app-favorite-event *ngFor="let fav of userInfo.events"
                              [item]="fav"
                              [canDelete]="canDelete"
                              (onClickVote)="onClickVote($event)"
                              (onClickDelete)="onClickDeleteEvent($event)">
          </app-favorite-event>
        </div>
        <div class="tab-content fade" *ngIf="userInfo.lists" [class.in] = "selectedFavoriteType === 'list'">
          <app-favorite-list *ngFor="let fav of userInfo.lists"
                             [item]="fav"
                             [canDelete]="canDelete"
                             (onClickDelete)="onClickDeleteList($event)">
          </app-favorite-list>
        </div>
        <div class="tab-content fade" *ngIf="userInfo.places" [class.in] = "selectedFavoriteType === 'place'">
          <app-favorite-place *ngFor="let fav of userInfo.places"
                              [item]="fav"
                              [canDelete]="canDelete"
                              (onClickDelete)="onClickDeletePlace($event)">
          </app-favorite-place>
        </div>
      </div>
    </div>
  </div>
</div>