<simple-notifications [options]="options"></simple-notifications>
<div class="setting-wrap  table-wrap" *ngIf="ready">
  <div class="col-xs-12 col-md-4 col-lg-3 col-left table-cell">
    <app-member-navigation [currentUser]="user" [user]="user"></app-member-navigation>
  </div>
  <div class="col-xs-12 col-md-8 col-lg-9 col-right table-cell">
    <section *ngIf="user" class="form-wrap">
      <div class="">
        <h3 class="col-xs-12 setting-title">My Profile</h3>
        <form [formGroup]="profileForm" (ngSubmit)="onSubmit()">
          <div class="col-lg-6 form-group has-feedback"
               [class.has-error]="profileForm.controls['firstName'].invalid && profileForm.controls['firstName'].dirty">
            <input class="form-control" formControlName="firstName" placeholder="First Name">
            <span class="glyphicon form-control-feedback" aria-hidden="true"></span>
            <small
              *ngIf="profileForm.controls['firstName'].hasError('requiredField') && profileForm.controls['firstName'].dirty"
              class="help-block with-errors">Please enter your first name.
            </small>
            <small
              *ngIf="profileForm.controls['firstName'].hasError('maxlength') && profileForm.controls['firstName'].dirty"
              class="help-block with-errors">First Name cannot exceed 30 characters.
            </small>
          </div>
          <div class="col-lg-6 form-group"
               [class.has-error]="profileForm.controls['lastName'].invalid && profileForm.controls['lastName'].dirty">
            <input class="form-control" formControlName="lastName" placeholder="Last Name">
            <small
              *ngIf="profileForm.controls['lastName'].hasError('maxlength') && profileForm.controls['lastName'].dirty"
              class="help-block with-errors">First Name cannot exceed 30 characters.
            </small>
          </div>
          <div class="col-lg-12 form-group">
            <p class="form-control" placeholder="Email Address">{{user.email}}</p>
          </div>
          <div class="col-lg-6 form-group has-feedback"
               [class.has-error]="!profileForm.controls['contactNumber'].valid && profileForm.controls['contactNumber'].dirty">
            <input class="form-control" formControlName="contactNumber" placeholder="Contact Number">
            <span class="glyphicon form-control-feedback" aria-hidden="true"></span>
            <small
              *ngIf="profileForm.controls['contactNumber'].hasError('requiredField') && profileForm.controls['contactNumber'].dirty"
              class="help-block with-errors">Please enter your contact number.
            </small>
            <small
              *ngIf="profileForm.controls['contactNumber'].hasError('minlength') && profileForm.controls['contactNumber'].dirty"
              class="help-block with-errors">"Contact number must be at least 8 characters.
            </small>
            <small
              *ngIf="profileForm.controls['contactNumber'].hasError('maxlength') && profileForm.controls['contactNumber'].dirty"
              class="help-block with-errors">Contact Number cannot exceed 30 characters.
            </small>
            <small
              *ngIf="profileForm.controls['contactNumber'].hasError('pattern') && profileForm.controls['contactNumber'].dirty"
              class="help-block with-errors">Contact number must be digits or digits which start with (+).
            </small>
          </div>
          <div class="col-lg-6 form-group">
            <select formControlName="country" class="form-control form-control-sm" name="countrypicker">
              <option *ngFor="let c of countries" [value]="c.cca3"
                      [selected]="user.country === c.cca3 || c.cca3=='null'">{{c.name.common}}
              </option>
            </select>
          </div>
          <div class="form-actions col-xs-12">
            <button [disabled]="profileForm.invalid" type="submit" class="btn btn-primary">Update</button>
          </div>
        </form>
      </div>

    </section>
    <div class="mobile-footer"></div>
  </div>
</div>
