<div class="setting-wrap  table-wrap">
  <div class="col-lg-2 col-sm-4 col-xs-12 col-left table-cell">
    <app-member-navigation [data]="userInfo"></app-member-navigation>
  </div>
  <div class="col-lg-10 col-sm-8 col-xs-12 col-right table-cell">
    <section *ngIf="userInfo">
      <h3>My Profile</h3>
      <form [formGroup]="profileForm" (ngSubmit)="onSubmit()">
        <div class="row">
          <div class="col-lg-6 form-group">
            <input class="form-control" formControlName="firstName" placeholder="First Name">
          </div>
          <div class="col-lg-6 form-group">
            <input class="form-control" formControlName="lastName" placeholder="Last Name">
          </div>
          <div class="col-lg-12 form-group">
            <input class="form-control" type="email" formControlName="email" placeholder="Email Address">
          </div>
          <div class="col-lg-6 form-group">
            <input class="form-control" formControlName="contactNumber" placeholder="Contact Number">
          </div>
          <div class="col-lg-6 form-group">
            <select formControlName="country" class="form-control form-control-sm" name="countrypicker">
              <option *ngFor="let c of countries" value="{{c.cca3}}"
                      [selected]="userInfo.field_country === c.cca3 || c.cca3=='null'">{{c.name.common.toString()}}
              </option>
            </select>
          </div>
        </div>
        <button type="submit" class="btn btn-primary">Update</button>
      </form>
    </section>
  </div>
</div>
