<header class="navbar navbar-default navbar-fixed-top hype-header">
  <div class="navbar-header">
    <button class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse" (click)="toggleState()">
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
  </div>
  <div class="row navbar-collapse collapse" [ngClass]="{ 'in': isIn }">
    <ul class="nav navbar-nav hype-nav">
      <!--<li class="logo"><a [routerLink]="['./home']"><i fa [name]="'circle-o'" [size]=3></i></a></li>-->
      <li id="site-name"><a [routerLink]="['./home']">Hylo</a></li>
      <li class="map-option">
        <div ngbDropdown>
          <a class="dropdown-toggle" id="drop1" role="button" aria-haspopup="true" aria-expanded="false" ngbDropdownToggle>
            {{selectedMapOption.name}}<span class="caret"></span>
          </a>
          <ul *ngIf="mapOptions" class="dropdown-menu" aria-labelledby="drop1">
            <li *ngFor="let option of mapOptions" (click)="onSelectMapOption(option)">{{option.name}}</li>
          </ul>
        </div>
      </li>
      <li class="map-option col-md-4">
        <form action="">
          <div class="input-group">
            <input type="text" class="form-control" placeholder="Search...">
            <span class="input-group-btn">
              <button class="btn btn-default" type="button"></button>
            </span>
          </div>
        </form>
      </li>
      <li class="right">
        <div class="add-eventbtn" [routerLink]="['/curate/new']">
          <img src="/assets/img/homepage/icon-add.png" alt="icon-add">
        </div>
      </li>
      <li class="right">
          <app-notification *ngIf="notifications"
                            [notifications]="notifications"
                            [loadingInProgress]="set.loadingInProgress"
                            [endOfList]="set.endOfList"
                            (onScrollToBottom)="onScrollToBottom()"
                            (onMarkAllRead)="onMarkAllRead()"
                            (onMarkOneRead)="onMarkOneRead($event)">
          </app-notification>
      </li>
      <li class="right">
        <div class="user-option map-option right" ngbDropdown>
          <a class="dropdown-toggle" id="drop2" role="button" aria-haspopup="true" aria-expanded="false" ngbDropdownToggle>
            <i class="logo" fa [name]="'user-circle-o'" [size]=2></i>
            {{this.appState.state.userInfo.firstName}}&nbsp;{{this.appState.state.userInfo.lastName}}
            <img src="/assets/img/homepage/icon-down.png" alt="icon-down">
          </a>
          <ul class="dropdown-menu" aria-labelledby="drop3">
            <li [routerLink]="['/member']" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Setting
            </li>
          </ul>
        </div>
      </li>
    </ul>
  </div>
</header>