/*.navbar-nav li#site-name a {
    font-size: 30px;
    font-weight: bold;
    text-align: left;
    color: #fff;
    padding-top: 13px;
}
.navbar-nav li#site-name a:hover, 
.navbar-nav li#site-name a:focus {
    outline: none;
    color: #fff;
}*/
.map-option .img-circle {
    margin-top: 10px;
    margin-right: 8px;
    float: left;
}
.user-option .user-name-info {
    font-size: 16px;
    text-align: left;
    color: #fff;
    max-width: 200px;
    display: inline-block;
    line-height: 50px;
    float: left;
}
.map-option .dropdown a  {
    font-size: 18px;
    font-weight: 500;
    line-height: 2.8;
    letter-spacing: 1px;
    text-align: left;
    color: #fff;
}

.map-option form .input-group .input-group-btn button {
	z-index: 999;
}
.map-option form .input-group input:focus {
	border: none;
}
.map-option img.icon-down-left-navbar {
    margin-left: 10px;
}

.notification-area  {
    margin-right: 10px;
}
.info-user {
    margin-right: 40px;
}
.add-event-button {
    margin-right: 10px;
}
.add-event-button .add-eventbtn {
    margin: 0px 8px;
    cursor: pointer;
}
.add-event-button .add-eventbtn:focus {
    outline: none;
}
.nav-item{
    height: 50px;
    line-height: 50px;
}

.wrap-search-input {
    position: relative;
    
}


/*search location start*/

.search-location-search-area {
    float: left;
    margin-top: 1px;
    border-radius: 4px;
    background: #fff;
    width: 110%;
    display: none;
}
.display-location-address {
    padding: 0px 20px;
    line-height: 3.5;
    border: 1px solid #cacaca;
    border-radius: 4px 4px 0px 0px;
    background: #fff;
}
.display-location-address i {
    font-size: 18px;
    color: #3b3b3b;
}
.keyword-search-input {
    font-weight: bold;
    color: #3b3b3b;
    text-transform: capitalize;
    font-size: 14px;
    margin: 0px 5px;
}
.location-address {
    color: #ec3d62;
    font-weight: bold;
    text-transform: capitalize;
    font-size: 15px;
    margin: 0px 15px;
}
.search-location-search-area ul {
    padding-left: 0px;
    list-style: none;
}
.search-location-search-area ul li a span {
    display: inline-block;
}
.search-location-search-area ul li a span.location-address-content-each {
    max-width: 300px;
    vertical-align: middle;
}
.list-location-address li:first-child {
    background: #e0e0e0;
    padding: 5px;
    border: none;
}
.list-location-address li:first-child:hover {
    background: initial;
}
.list-location-address li:first-child a {
    color: #3b3b3b;
    font-size: 11px;
    font-weight: bold;
    text-transform: uppercase;
    margin-left: 20px;
}
.list-location-address li {
    padding: 10px;
    background: #fff;
    border-left: 1px solid #cacaca;
    border-right: 1px solid #cacaca;
    border-top: 1px solid #cacaca;
}
.list-location-address li:hover {
    background: #fff;
}
.list-location-address li.title-search-location-address:hover {
    background: #e0e0e0;    
}
.list-location-address li a:hover {
    text-decoration: none;
}
.list-location-address li a img {
    width: 30px;
    height: 30px;
}
#list-events-location-address li:last-child {
    border-bottom: 1px solid #cacaca;
    margin-bottom: 8px;
}

/*search location end*/
#map-option .dropdown-menu>.active, #map-option .dropdown-menu>.active:hover, #map-option .dropdown-menu>.active:focus {
    color: #fff;
    text-decoration: none;
    outline: 0;
    background-color: #ec3d62;
}
#map-option .dropdown-menu li{
    width: 160px;
    float: left;
    display: inline-block;
    clear: right;
}
@media only screen and (min-width: 768px){
    #map-option .dropdown-menu{
        width: 680px;
        padding: 5px;
        overflow: auto;
    }
}

@media only screen and (min-width: 992px){
    #map-option .dropdown-menu{
        width: 820px;
        padding: 5px;
        overflow: auto;
    }
}
@media only screen and (min-width: 1200px){
    #map-option .dropdown-menu{
        width: 980px;
        padding: 5px 0px 5px 5px;
    }

}
@media only screen and (max-width: 767px){
    #map-option .dropdown-menu{
        width: 340px;
        padding: 5px;
    }
}
@media only screen and (max-width: 575px){

}














