<header class="navbar navbar-default navbar-fixed-top hype-header">
  <div class="navbar-header">
    <!-- mobile sidebar -->
    <div *ngIf="loginData" class="mobile-left-sidebar" [ngStyle]="{'display': isIn ? 'block' : 'none'}" aria-labelledby="drop1">
      <div class="user-info-mobile">
        <img class="img-circle" [src]="loginData.current_user.avatar" width="30" height="30">
        <span class="user-name-info text-ellipsis">{{loginData.current_user.field_first_name}}&nbsp;{{loginData.current_user.field_last_name}}</span>
      </div>
      <ul class="user-menu-mobile" aria-labelledby="drop-0">
        <li [routerLink]="['/' + loginData.current_user.slug + '/profile-edit']" routerLinkActive="active"
            [routerLinkActiveOptions]="{exact: true}" class="text-ellipsis">My Profile
        </li>
        <li [routerLink]="['/' + loginData.current_user.slug + '/setting']" routerLinkActive="active"
            [routerLinkActiveOptions]="{exact: true}"
            class="text-ellipsis">Settings
        </li>
        <li [routerLink]="['/' + loginData.current_user.slug + '/interest']" routerLinkActive="active"
            [routerLinkActiveOptions]="{exact: true}"
            class="text-ellipsis">Interests
        </li>
        <li [routerLink]="['/' + loginData.current_user.slug + '/favorite']" routerLinkActive="active"
            [routerLinkActiveOptions]="{exact: true}"
            class="text-ellipsis">Favorites
        </li>
        <li [routerLink]="['/logout']" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"
            class="text-ellipsis">Logout
        </li>
      </ul>
    </div>
    <!-- End mobile sidebar -->
    <button class="navbar-toggle "[class.on-mobile]="onMobile" data-toggle="collapse" data-target=".navbar-collapse" (click)="toggleState()">
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>

    <a [routerLink]="['./home']" title="Hylo" class="hidden-md hidden-lg hidden-xl navbar-brand text-white">Hylo</a>
    <div class="hidden-md hidden-lg hidden-xl extra-menu"[class.on-mobile]="onMobile" style="overflow: hidden">
      <ul class="nav navbar-nav hype-nav">
        <li *ngIf="loginData" class="pull-right nav-item add-event-button">
          <div class="user-option map-option pull-right" ngbDropdown>
            <a class="dropdown-toggle" id="drop3" role="button" aria-haspopup="true" aria-expanded="false"
               ngbDropdownToggle>
              <i class="glyphicon glyphicon-plus text-white glyphicon-2x"></i>
            </a>
            <ul class="dropdown-menu" aria-labelledby="drop3">
              <li [routerLink]="['/curate/new']" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                Create New List
              </li>
              <li [routerLink]="['/share-event']" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                Create New Event
              </li>
            </ul>
          </div>
        </li>
        <li *ngIf="loginData" class="pull-right nav-item notification-area">
          <app-notification *ngIf="notifications"
                            [notifications]="notifications"
                            [loadingInProgress]="set.loadingInProgress"
                            [endOfList]="set.endOfList"
                            (onScrollToBottom)="onScrollToBottom()"
                            (onMarkAllRead)="onMarkAllRead()"
                            (onMarkOneRead)="onMarkOneRead($event)">
          </app-notification>
        </li>
        <li class="pull-right map-option nav-item"(click)="mobile_searchState()">
          <i class="glyphicon glyphicon-search text-white glyphicon-2x"></i>
        </li>
      </ul>
    </div>
  </div>

  <div class="search-mobile"[class.on-mobile]="onsearch">
    <app-search></app-search>
  </div>
  <div class="row navbar-collapse collapse">
    <ul class="nav navbar-nav hype-nav">
      <li id="site-name nav-item"><a id="logo" [routerLink]="['./home']" title="Hylo"
                                     class="sprite sprite-hylo-final-logo-125x50"></a></li>
      <li class="map-option nav-item" id="map-option">
        <div ngbDropdown>
          <a class="dropdown-toggle" id="drop1" role="button" aria-haspopup="true" aria-expanded="false"
             ngbDropdownToggle>
            {{selectedMapOption.name}}
            <i class="icon-down-left-navbar sprite sprite-icon-down"></i>
          </a>

          <ul *ngIf="mapOptions" class="dropdown-menu" aria-labelledby="drop1" id="map-option-dropdown">
            <div slimScroll
                 width="100%"
                 height="300px"
                 size="7px"
                 [railVisible]="true"
                 [railOpacity]="0.1"
                 [railColor]="'#ec3d62'"
                 [color]="'#ec3d62'">

              <li *ngFor="let option of mapOptions" [class.active]="option === selectedMapOption"
                  (click)="onSelectMapOption(option)" class="text-ellipsis">{{option.name}}
              </li>
            </div>
          </ul>

        </div>
      </li>
      <li class="sprite sprite-line nav-indicator">
        <app-search></app-search>
      </li>
      <li *ngIf="loginData" class="pull-right nav-item add-event-button">
        <div class="user-option map-option pull-right" ngbDropdown>
          <a class="dropdown-toggle" id="drop4" role="button" aria-haspopup="true" aria-expanded="false"
             ngbDropdownToggle>
            <i class="sprite sprite-icon-add"></i>
          </a>
          <ul class="dropdown-menu" aria-labelledby="drop4">
            <li [routerLink]="['/curate/new']" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
              Create New List
            </li>
            <li [routerLink]="['/share-event']" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
              Create New Event
            </li>
          </ul>
        </div>
      </li>
      <li class="pull-right nav-item notification-area" *ngIf="loginData">
        <app-notification *ngIf="notifications"
                          [notifications]="notifications"
                          [loadingInProgress]="set.loadingInProgress"
                          [endOfList]="set.endOfList"
                          (onScrollToBottom)="onScrollToBottom()"
                          (onMarkAllRead)="onMarkAllRead()"
                          (onMarkOneRead)="onMarkOneRead($event)">
        </app-notification>
      </li>
      <li class="pull-right info-user nav-item">
        <div *ngIf="loginData" class="user-option map-option right" ngbDropdown>
          <a class="dropdown-toggle" id="drop2" role="button" aria-haspopup="true" aria-expanded="false"
             ngbDropdownToggle>
            <img class="img-circle" [src]="loginData.current_user.avatar" width="30" height="30">
            <span class="user-name-info text-ellipsis">{{loginData.current_user.field_first_name}}&nbsp;{{loginData.current_user.field_last_name}}</span>
            <i class="icon-down-left-navbar sprite sprite-icon-down"></i>
          </a>
          <ul class="dropdown-menu" aria-labelledby="drop2">
            <li [routerLink]="['/' + loginData.current_user.slug + '/profile-edit']" routerLinkActive="active"
                [routerLinkActiveOptions]="{exact: true}" class="text-ellipsis">My Profile
            </li>
            <li [routerLink]="['/' + loginData.current_user.slug + '/setting']" routerLinkActive="active"
                [routerLinkActiveOptions]="{exact: true}"
                class="text-ellipsis">Settings
            </li>
            <li [routerLink]="['/' + loginData.current_user.slug + '/interest']" routerLinkActive="active"
                [routerLinkActiveOptions]="{exact: true}"
                class="text-ellipsis">Interests
            </li>
            <li [routerLink]="['/' + loginData.current_user.slug + '/favorite']" routerLinkActive="active"
                [routerLinkActiveOptions]="{exact: true}"
                class="text-ellipsis">Favorites
            </li>
            <li [routerLink]="['/logout']" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"
                class="text-ellipsis">Logout
            </li>
          </ul>
        </div>
        <div *ngIf="!loginData">
          <span [routerLink]="['/login']" class="btn btn-success btn-login">Login</span>
        </div>
      </li>
    </ul>
  </div>
</header>
