.map-option .img-circle {
    margin-top: 15px;
    margin-right: 8px;
    float: left;
}
.user-option .user-name-info {
    font-size: 16px;
    text-align: left;
    color: #ffffff;
    max-width: 200px;
    display: inline-block;
    line-height: 60px;
    float: left;
}
.map-option .dropdown a {
    font-size: 18px;
    font-weight: 500;
    line-height: 60px;
    letter-spacing: 1px;
    text-align: left;
    color: #ffffff;
}
.map-option form .input-group .input-group-btn button {
    z-index: 999;
}
.map-option form .input-group input:focus {
    border: none;
}
.map-option .icon-down-left-navbar {
    margin-left: 10px;
    display: inline-block;
}
.notification-area {
    margin-right: 10px;
}
.info-user {
    margin-right: 40px;
}
.add-event-button {
    margin-right: 10px;
}
.add-event-button .add-eventbtn {
    margin: 0 8px;
    cursor: pointer;
}
.add-event-button .add-eventbtn:focus {
    outline: none;
}
#map-option .dropdown-menu li {
    width: 160px;
    float: left;
    display: inline-block;
    clear: right;
}
#logo {
    width: 126px;
    height: 50px;
    margin-top: 5px;
    margin-left: 10px;
}
.nav-indicator + .map-option.nav-item {
    margin-left: 0;
}
.nav-indicator {
    margin: 13px 10px;
    padding-left: 30px;
}
.add-event-button .sprite-icon-add {
    margin-top: 20px;
    margin-bottom: 20px;
}
.navbar-default .navbar-brand{
    color: #ffffff;
}
.glyphicon-2x{
    font-size: 1.5em;
}
.search-mobile{
  display: none;
}
.login-mobile{
  display: none;
}
.mobile-left-sidebar{
  display: none;
}
.map-option-dropdown-mobile{
  display: none;
}
/*responsive*/

@media only screen and (min-width: 575px) {
}
@media only screen and (min-width: 768px) {
}
@media only screen and (min-width: 992px) {
}
@media only screen and (min-width: 1200px) {
    #map-option .dropdown-menu {
        width: 980px;
        padding: 5px 0 5px 5px;
    }
}
@media only screen and (max-width: 575px) {
}
@media only screen and (max-width: 767px) {
    #map-option .dropdown-menu {
        width: 340px;
        padding: 5px;
    }
}
@media (max-width: 991px) {
    header .navbar-brand{
        margin-top: 5px;
    }
    .navbar-header {
        float: none;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
    }
    .navbar-collapse.collapse {
        display: none !important;
    }
    .navbar-nav {
        float: none !important;
        margin: 0;
    }
    .navbar-nav > li {
        float: none;
    }

    .navbar-nav > li > a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .navbar-text {
        float: none;
        margin: 15px 0;
    }
    /* since 3.1.0 */
    .navbar-collapse.collapse.in {
        display: block !important;
    }
    .collapsing {
        overflow: hidden !important;
    }
    .nav-indicator {
        margin: 16px 0;
    }
    .navbar-default .navbar-toggle, .navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
        background-color: transparent;
        border-color: transparent;
        float: left;
    }
    .navbar-default .navbar-toggle .icon-bar {
        background: #ffffff;
        height: 3px;
        width: 30px;
    }
    .create-content-mobile{
      display: none;
    }
}

@media screen and (max-width: 800px) and (min-width: 320px){
  .login-mobile{
    display: block;
    float: right;
    padding-top: 13px;
    margin-right: 40px;
  }
  .mobile-search-icon{
    padding-top: 5px;
  }
  .mobile-location-icon{
    padding-top: 5px;
  }

  .btn-login {
    width: 60px;
    background: none;
    box-shadow: none;
    border:0px;
    margin-right: 0px;
    border: 1px solid #fff;
    padding: 6px;
    box-shadow: inset 0 3px 5px rgba(0,0,0,.125);
    text-shadow: 0 -1px 0 rgba(0,0,0,.2);
    background: transparent;
  }



  .show>.mobile-left-sidebar{
    display: block;
  }
  .mobile-left-sidebar{
    position: fixed;
    background: #f5f5f5;
    width: 50%;
    height: 100vh;
  }
  .show>.navbar-toggle{
    margin-left: 50%;
  }
  .show>.extra-menu{
    display: none;
  }
  .show .map-option-dropdown-mobile{
    position: fixed;
    background: #fff;
    left:0;
    display: block;
    padding-left: 0px;
    top: 61px;
  }
    .show .map-option-dropdown-mobile li.text-ellipsis {
        width: 50%;
        float: left;
        text-align: left;
        padding-left: 10px;
        line-height: 2.5em;
    }
    .show .map-option-dropdown-mobile li.text-ellipsis.active {
        background: #ec3d62;
        color: #fff;
        text-decoration: none;
        outline: 0;
    }
    .show .map-option-dropdown-mobile li.text-ellipsis:hover {
        background: rgba(236, 61, 98, 0.5);
    }
  .user-info-mobile {
    min-height: 60px;
    padding-top: 7%;
    padding-left: 13%;
    border-bottom: 1px solid #e0e0e0;
  }
  .user-info-mobile img {
    margin-right: 3%;
  }

  .show>.create-content-mobile{
    display: block;
    position: fixed;
    background: #FFFFFF;
    left: 0;
    width: 100%;
    height: 100%;
    list-style: none;
    padding-left: 0;
    padding-top: 40%;
  }
  .show>.create-content-mobile li {
        text-align: center;
        margin: 0px 20%;
        border: 1px solid #ec3d62;
        border-radius: 15px;
        text-transform: capitalize;
    }
  .show>.create-content-mobile li:first-child {
        margin-bottom: 5%;
    }
  .user-info-mobile span.user-name-info {
    font-weight: bold;
    font-size: 1em;
  }
  ul.user-menu-mobile {
    padding-left: 0;
  }
  ul.user-menu-mobile li {
    text-align: left;
    padding: 13px 0px 13px 70px;
    border-bottom: 1px solid #e0e0e0;
    text-transform: capitalize;
    color: #000;
  }
  .search-mobile.on-mobile{
    display: block;
    height: 50px;
  }
    input.form-control.input-keyword {
        height: 50px;
        width: 100%;
    }

}

@media screen and (min-width: 567px) and (max-width: 990px) {
    .show .map-option-dropdown-mobile li.text-ellipsis {
      width: 33.333%;
      float: left;
      text-align: left;
      padding-left: 10px;
      line-height: 2.5em;
    }
    .show>.create-content-mobile{
        padding-top: 10%;
    }
}









