/*search location start*/

.search-location-search-area .arrow-up{
    top: -12px;
    left: 15px;
}
.search-location-search-area {
    float: left;
    margin-top: 13px;
    border-radius: 4px;
    background: #fff;
    width: 100%;
    border: 1px solid #cacaca;
    position: relative;
}
.display-location-address {
    padding: 0 10px;
    line-height: 50px;
    border-bottom: 1px solid #cacaca;
    border-radius: 4px 4px 0 0;
    background: #fff;
    height: 51px;
    position: relative;
}
.display-location-address i {
    font-size: 18px;
    color: #3b3b3b;
    width: 32px;
    height: 46px;
    float: left;
    line-height: 50px;
    transform: scale(0.5);

}
.keyword-search-input {
    font-weight: bold;
    color: #3b3b3b;
    text-transform: capitalize;
    font-size: 14px;
    margin: 0;
}
.location-address {
    color: #ec3d62;
    font-weight: bold;
    text-transform: capitalize;
    font-size: 15px;
    float: right;
    margin-right: 20px;
}
.search-location-search-area ul {
    padding-left: 0;
    list-style: none;
}
.list-location-address li:first-child {
    background: #e0e0e0;
    padding: 5px;
    border: none;
}
.list-location-address li:first-child:hover {
    background: initial;
}
.list-location-address li:first-child a {
    color: #3b3b3b;
    font-size: 11px;
    font-weight: bold;
    text-transform: uppercase;
    margin-left: 20px;
}
.list-location-address li:not(:last-child) {
    border-bottom: 1px solid #cacaca;
}
.list-location-address li {
    padding: 10px;
    background: #fff;
    width: 100%;
}
.list-location-address li:hover {
    background: #fff;
}
.list-location-address li.title-search-location-address:hover {
    background: #e0e0e0;
}
.list-location-address li a:hover {
    text-decoration: none;
}
.list-location-address li a img {
    width: 35px;
    height: 35px;
}

/*search location end*/
.result-info .keyword-search-input, .result-info .text-ellipsis{
    width: 100%;
    display: block;
    margin-right: 0;
    margin-left: 0;
}
.result-info{
    width: calc(100% - 35px);
    float: right;
    padding-left: 10px;
    height: 35px;
    line-height: 18px;
    margin-right: -5px;
}
.item-link{
    display: block;
}
.keyword-copy{
    float: left;
    height: 48px;
    padding-left: 10px;
    font-weight: bold;
    width: calc(100% - 205px);
}
.input-keyword{
    width: 100%;
    border-radius: 4px !important;
    padding: 6px 26px 6px 12px;
}
.wrap-search-input{
    width: 395px;
}
.display-location-address .close:hover{
    opacity: 1;
}
.display-location-address .close{
    position: absolute;
    top: 33%;
    right: 12px;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    text-align: center;
    line-height: 25px;
    font-size: 1.5em;
    transform: rotate(45deg);
    opacity: .4;
}
.wrap-search-input .search-icon {
    padding: 10px 10px;
    position: absolute;
    border: none;
    box-shadow: none;
    z-index: 999;
    top: 9px;
    right: 9px;
}
.wrap-search-input .search-icon:focus {
    outline: none;
}
.no-result {
    margin-top: 10px;
}


@media screen and (max-width: 991px){

}
@media screen and (max-width: 800px) and (min-width: 320px) {
    input.form-control.input-keyword {
        height: 50px;
        width: 100%;
    }
    .wrap-search-input .search-icon {
        top: 17px;
        right: 13px;
    }
    .wrap-search-input{
        width: 100%;
    }
    .result-info .text-ellipsis{
        white-space: normal;
    }
    .list-location-address .result-info{
        overflow: hidden;
    }
    ul#list-events-location-address {
        height: 500px;
    }
}

