<form [formGroup]="searchForm" (ngSubmit)="onSubmit()" (keyup)="onSubmit()">
  <div class="input-group wrap-search-input">

    <button [disabled]="searchForm.invalid" class="btn btn-default" type="submit"></button>

    <input formControlName="keyword" class="form-control"
           placeholder="Search for any places and activities...">
    <div class="search-location-search-area" id="">

      <div class="display-location-address">
        <i class="fa fa-map-marker" aria-hidden="true"></i>
        <span class="keyword-search-input">toa payoh</span>nn
        <span class="location-address">location address</span>
      </div>

      <ul class="list-location-address">
        <li class="title-search-location-address">
          <a>Lists</a>
        </li>
        <li>
          <a>
            <img class="icon-location-address" src="/assets/img/homepage/address.jpg" alt="address">
            <span class="keyword-search-input">toa payoh</span>
            <span class="location-address-content-each text-clip">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</span>
          </a>
        </li>
      </ul>

      <ul class="list-location-address" id="list-events-location-address">
        <li class="title-search-location-address">
          <a>Events</a>
        </li>
        <li>
          <a>
            <img class="icon-location-address" src="/assets/img/homepage/address.jpg" alt="address">
            <span class="keyword-search-input">toa payoh</span>
            <span class="location-address-content-each text-clip">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</span>
          </a>
        </li>
      </ul>

    </div>
  </div>
</form>