<div *ngIf="notifications" class="user-option map-option right" ngbDropdown>
  <a id="notify-drop" class="notif-bag dropdown-toggle" role="button" aria-haspopup="true"
     aria-expanded="false" ngbDropdownToggle>
    <i id="notif" class="bell_notify"></i>
    <!--<span id="count-notif" [title]="notifications.unread">{{notifications.unread}}</span>-->
    <span id="count-notif" [title]="totalUnread">{{totalUnread}}</span>
    <div class="arrow-up"></div>
  </a>

  <ul class="notify-content" id="notifications">
    <li>
      <span class="notify-left">Notifications</span>
      <span class="mark-all-right" (click)="onClickMarkAll()">Mark all as read</span>
    </li>
    <div slimScroll (scroll)="onScrollDown($event)" width="auto" height="290px" size="7px"
         [railVisible]="true"
         [touchScrollStep]="75"
         [railOpacity]="0.4"
         [railColor]="'#ddd'"
         [color]="'#000'">
      <li *ngFor="let notif of notifications" [class.has_read]="notif.viewed !== null"
          class="notification-item"
          (click)="onClickItem(notif)">
        <div class="icon-notification"><img [src]="notif.actor.avatarUrl" width="30" height="30"></div>
        <div class="content-notification">
          <p class="title-notifications">
            <strong>{{notif.actor.name | truncate: 10}}</strong>
            {{notif.metadata.message | truncate: 75}}</p>
          <p class="time-ago text-lowercase">{{ notif.metadata.createdTime | myTimeStamp | amFromUnix  | amTimeAgo}}</p>
        </div>
      </li>
      <div class="list-bottom">
        <div *ngIf="loadingInProgress"> Loading</div>
        <div class="end-of-list" *ngIf="endOfList">No More Results</div>
      </div>
    </div>
  </ul>

</div>
