.notif-bag {
    position: relative;
}
i#notif {
    margin-top: 15px;
}
#count-notif{
    position: absolute;
    top: -20px;
    right: -3px;
    border-radius: 3px;
    min-width: 18px;
    height: 18px;
    background-color: white;
    text-align: center;
    border: none;
    font-size: 12px;
    line-height: 18px;
    font-weight: bold;
    color: #ec3d62;
    z-index: 100;
}
#count-notif b {
    position: relative;
    top: -26px;
    color: #9b1935;
    right: 2px;
}
.notify-content {
  display: none;
}
.show>.notify-content {
  display: block;
  background: #fff;
  position: absolute;
  padding: 0;
  box-shadow: 0 2px 4px 0 rgba(166, 166, 166, 0.5);
  border: solid 1px #d8d8d8;
}
.show>.notify-content li{
  list-style: none;
}
.user-option>a>.arrow-up{
    position: relative;
    top: -20px;
    right: -10px;
    z-index: 9;
    display: none;
}
.user-option.show>a>.arrow-up{
    display: block;
}
#notifications .arrow-up {
  top: -12px;
  right: 7%;
}

@media screen and (max-width: 800px) and (min-width: 320px){

  .show>.notify-content {
    position: fixed;
    height: 100%;
    width: 100% !important;
    top: 60px !important;
    left: 0 !important;
  }
}
