<section>
    <div class="row">
        <div class="col-lg-6 col-xs-12 left-box">
            <form [formGroup]="filterFromMode" class="filterFromMode">
                <div ngbRadioGroup class="btn-block btn-filter-block" name="radioBasic" (change)="changeType()"
                     formControlName="filterMode">
                    <label class="btn btn-default">
                        <input type="radio" value="all"> All
                    </label>
                    <label class="btn btn-default">
                        <input type="radio" value="eat"> Eat
                    </label>
                    <label class="btn btn-default">
                        <input type="radio" value="play"> Play
                    </label>
                </div>
            </form>
            <hr>
            <form [formGroup]="filterCategory" class="filterCategory">
                <div>
                    <div ngbRadioGroup class="btn-block btn-filter-block" (change)="changeCategory()" name="radioBasic"
                         formControlName="filterCategory">
                        <label class="btn btn-default">
                            <img src="../../assets/img/icons/All.png" alt="All">
                            <span class="clearfix">
                                <input type="radio" value="all"> All
                            </span>
                        </label>
                        <label class="btn btn-default" *ngFor="let term of categories.data | slice:0:6">
                            <img src="{{term.icon}}" alt="{{term.name}}">
                            <span class="clearfix"> </span>
                            <input type="radio" value="{{term.tid}}">{{term.name}}
                        </label>
                    </div>
                </div>
            </form>

            <ngb-tabset>
                <ngb-tab class="tabFilter">
                    <ng-template ngbTabTitle>Price Range <i class="fa fa-angle-down"
                                                            aria-hidden="true"></i><span></span></ng-template>
                    <ng-template ngbTabContent>
                        <nouislider [min]="0" [max]="1000" [step]="10" [(ngModel)]="priceRange"
                                    style="margin-top: 4em;"></nouislider>
                    </ng-template>
                </ngb-tab>
                <ngb-tab>
                    <ng-template ngbTabTitle>Cuisine <i class="fa fa-angle-down" aria-hidden="true"></i></ng-template>
                    <ng-template ngbTabContent>
                        <div *ngIf="filterFromMode.value.filterMode !='play'">
                            <div *ngFor="let item of filterData.eat; let in =index" style="margin-left: 40px">
                                {{filterData.eat[in].sub}}
                                <div class="checkbox">
                                    <input type="checkbox" [(ngModel)]="filterData.eat[in].name" name="cuisine--{{item.name}}"
                                           value="{{item.name}}">{{item.name}}
                                </div>
                                <div class="" *ngIf="item.sub" style="margin-left: 30px;">
                                    <div class="checkbox" *ngFor="let sb of item.sub; let i = index;trackBy:trackByIndex;">
                                        <!--<input type="checkbox" [(ngModel)]="filterData.eat[in][sub][i].name" value="{{sb.name}}">{{sb.name}}-->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </ng-template>
                </ngb-tab>
                <ngb-tab>
                    <ng-template ngbTabTitle>Ratings <i class="fa fa-angle-down" aria-hidden="true"></i></ng-template>
                    <ng-template ngbTabContent>
                        <div *ngIf="filterFromMode.value.filterMode !='play'">
                            <ngb-rating [(rate)]="currentRate">
                                <ng-template let-fill="fill">
                                    <span class="star" [class.filled]="fill === 100">&#9733;</span>
                                </ng-template>
                            </ngb-rating>
                        </div>
                    </ng-template>
                </ngb-tab>
                <ngb-tab>
                    <ng-template ngbTabTitle>Best For <i class="fa fa-angle-down" aria-hidden="true"></i></ng-template>
                    <ng-template ngbTabContent>
                        <div *ngIf="filterFromMode.value.filterMode !='play'">
                            <div *ngFor="let item of filterData.best; let in =index" style="margin-left: 40px">
                                <div class="checkbox">
                                    <input type="checkbox" [(ngModel)]="best[in]" name="best--{{item.name}}"
                                           value="{{item.name}}">{{item.name}}
                                </div>
                            </div>
                        </div>
                    </ng-template>
                </ngb-tab>
            </ngb-tabset>
            <div class="actionFilter">
                <label class="btn btn-default" (click)="filterCancel()">Cancel</label>
                <label class="btn btn-default apply" (click)="filterSubmit()">Apply</label>
            </div>
            <div class="clearfix"></div>
            <div class="list-header">
                <div class="pull-left">Sort By</div>
                <div class="pull-right">Clear Filters</div>
            </div>
            <div class="clearfix"></div>
            <div id="v-scrollable" class="scrollable section"
                 ng2-scrollable (elementVisible)="scrollEvent($event)" (scroll)="onScroll($event)">
                <div class="list-event">
                    <div class="items" *ngFor="let item of items; let index = 'index'">
                        <div class="list-items">
                            <div class="avatar">
                                <div class="badge">#{{index +1}}</div>
                                <img *ngIf="item.images && item.images?.length > 0" src="{{item.images[0].thumbnail}}">
                            </div>
                            <div class="item-content">
                                <h3 class="name">{{item.Company_Name}}</h3>
                                <div class="clearfix"></div>
                                <ngb-rating [rate]="item.rating.average" disabled="true"></ngb-rating>
                                <div class="box-content">
                                    <p>{{item.Email_Address}} | {{item.Tel_No}}</p>
                                    <p *ngIf="item.YP_Address?.length > 0"
                                       [innerHTML]="item.YP_Address[0] | myHtml2Text | truncate : 45"></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-xs-12 gmap-box">
            <div class="box-map" style="margin-top: 20px">
                <sebm-google-map *ngIf="showMap"
                                 [latitude]="lat"
                                 [longitude]="lng"
                                 [zoom]="mapZoom"
                                 [styles]="roadmap"
                                 [disableDefaultUI]="false"
                                 [zoomControl]="false"
                                 [streetViewControl]="true"
                                 (mapClick)="mapClicked($event,index)"
                >
                    <gmap-geocode-marker [markers]="markers" [currentRadius]="currentRadius"
                                         (radiusChange)="markerRadiusChange($event)" [lat]="lat"
                                         (markerClick)="clickedMarker($event)"
                                         (dragEnd)="markerDragEnd($event)"
                                         [lng]="lng"></gmap-geocode-marker>

                </sebm-google-map>
            </div>
        </div>
    </div>
</section>
