
.noUi-horizontal .noUi-handle {
    border-radius: 50%;
}

.noUi-horizontal {
    height: 5px;
}

.noUi-horizontal .noUi-handle {
    width: 28px;
    height: 28px;
    left: -17px;
    top: -12px;
    outline: none;
}

.noUi-handle:before {
    left: 10px;
}

/*filterFromMode start*/
.filterFromMode {
    padding: 20px;
    border-bottom: 1px solid rgba(205, 205, 205, 0.5);
}

.filterFromMode .btn-block label {
    height: 38px;
    padding-top: 10px;
    border: none;
    width: 33%;
    font-weight: 500;
}

.filterFromMode .btn-block label.active {
    border-radius: 4px;
    background: #2a6be1;
    color: #fff;
    text-shadow: none;
}

/*filterFromMode end*/
.filterCategory {
    border-bottom: 1px solid rgba(205, 205, 205, 0.5);
}

.filterCategory .btn-filter-block label {
    background: transparent;
    border: none;
    box-shadow: none;
    padding: 10px 0px;
    width: 14%;
    text-align: center;
}

.filterCategory .btn-filter-block label img {
    width: 30px;
    height: 30px;
}

.filterCategory .btn-filter-block label span {
    font-size: 12px;
    font-weight: 500;
    line-height: 1.17;
    text-align: center;
    color: #3b3b3b;
}

.left-box .actionFilter {
    padding-bottom: 20px;
    margin-top: 30px;
    text-align: right;
    border-bottom: 1px solid rgba(205, 205, 205, 0.5);
}

.left-box .actionFilter label {
    background: transparent;
    border: none;
    box-shadow: none;
    font-family: Roboto;
    font-size: 12px;
    line-height: 1;
    text-align: right;
}

.left-box .actionFilter label.apply {
    color: #ec3d62;
}

.justify-content-start li.nav-item a {
    border: none;
    background: transparent;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 500;
    line-height: 1;
    text-align: right;
    color: #3b3b3b;
}

.justify-content-start.nav-tabs .nav-link.active,
.justify-content-start.nav-tabs .nav-link.active:hover,
.justify-content-start.nav-tabs .nav-link.active:focus {
    border: none;
}

.justify-content-start.nav-tabs .nav-link.active i:before,
.justify-content-start.nav-tabs .nav-link.active:hover i:before,
.justify-content-start.nav-tabs .nav-link.active:focus i:before {
    content: "\f106";
}

.avatar, .avatar img {
    width: 120px;
    height: 110px;
    float: left;
    margin-top: 5px;
    position: relative;
    border-radius: 4px;
}

.list-items {
    display: block;
    background: white;
    font-size: 1em;
    height: 130px;
    line-height: 1.2em;
}

.list-items .avatar .badge {
    position: absolute;
    z-index: 9;
    border-radius: 50%;
    top: -8px;
    left: -12px;
    width: 34px;
    height: 34px;
    background-color: #5052ea;
    padding-top: 10px;
    font-size: 16px;
    font-weight: bold;
    line-height: 1;
    text-align: center;
    color: #ffffff;
}

.items {
    padding: 10px;
    border-bottom: 1px solid #d1dadf;
}

.item-content {
    display: inline-block;
    padding: 5px;
    vertical-align: middle;
    margin-top: 10px;
    margin-left: 15px;
}

.item-content .box-content {
    margin-top: 10px;
    font-size: 14px;
    font-weight: 300;
    line-height: 1.43;
    text-align: left;
    color: #3b3b3b;
}

.item-content span:nth-child(2n) {
    color: #ec3d62;
    font-size: 20px;
}

.justify-content-start .text-center {
    padding-top: 30px;
    padding-bottom: 30px;
}

.name {
    display: inline-block;
    font-weight: bold;
    margin-top: 0px;
    font-size: 14px;
}

.badge {
    opacity: 1;
}

.tab-pane > div > div > span {
    text-align: center;
}

.tab-pane > div > div {
    display: inline-block;
    vertical-align: top;
    text-align: left;
}

.tab-pane .star {
    font-size: 3.5rem;
    color: #b0c4de;
}

.tab-pane .filled {
    color: #1e90ff;
}

.tab-pane .d-inline-flex {
    outline: none;
}

.item-content .d-inline-flex span {
    cursor: default !important;
    pointer-events: none;
}

ul.nav-tabs li.nav-item {
    width: 140px;
    clear: both;
    display: inline-block;
}

ul.nav-tabs li.nav-item:first-child {
}

ul.nav-tabs li.nav-item a.nav-link {
    text-align: left;
    padding: 0px;
}

ul.nav-tabs li.nav-item a.nav-link i {
    font-size: 25px;
    position: relative;
    top: 2px;
    margin-left: 7px;
}

ul.nav-tabs {
    margin: 20px;
}

nouislider.ng2-nouislider {
    width: 50%;
    margin: 40px auto 20px;
}

.list-event {
    padding: 20px;
}

.list-event .list-header {
    margin-bottom: 20px;
}

.list-event .list-header .pull-left {
    font-size: 12px;
    line-height: 1;
    text-align: left;
    color: #3b3b3b;
}

.list-event .list-header .pull-right {
    font-size: 12px;
    line-height: 1;
    text-align: right;
    color: #ec3d62;
}

.sebm-google-map-container {
    height: 600px !important;
}