<section>
    <div class="row">
        <div class="col-lg-6 col-xs-12 left-box">
            <form [formGroup]="filterFromMode" class="filterFromMode">
                <div ngbRadioGroup class="btn-block btn-filter-block" name="radioBasic" (change)="changeCategory()" formControlName="filterMode">
                    <label class="btn btn-default">
                        <input type="radio" value="all"> All
                    </label>
                    <label class="btn btn-default">
                        <input type="radio" value="eat"> Eat
                    </label>
                    <label class="btn btn-default">
                        <input type="radio" value="play"> Play
                    </label>
                </div>
            </form>
            <hr>
            <form [formGroup]="filterCategory" class="filterCategory">
                <div>
                    <div ngbRadioGroup class="btn-block btn-filter-block" name="radioBasic" formControlName="filterCategory">
                        <label class="btn btn-default">
                            <img src="../../assets/img/icons/All.png" alt="All">
                            <span class="clearfix">
                                <input type="radio" value="all"> All
                            </span>
                        </label>
                        <label class="btn btn-default" *ngFor="let term of categories.data">
                            <img src="{{term.icon}}" alt="{{term.name}}">
                            <span class="clearfix"> </span>
                            <input type="radio" value="{{term.tid}}">{{term.name}}
                        </label>
                    </div>
                </div>
                <div *ngIf="filterFromMode.value.filterMode =='play' || filterFromMode.value.filterMode =='all'">
                    <div ngbRadioGroup class="btn-block btn-filter-block" name="radioBasic" formControlName="filterCategory">
                        <label class="btn btn-default" *ngIf="filterFromMode.value.filterMode !='all'">
                            <img src="../../assets/img/icons/All.png" alt="All">
                            <span class="clearfix">
                            <input type="radio" value="all"> All
                        </span>
                        </label>
                        <label class="btn btn-default" *ngFor="let term of categories.play">
                            <div *ngIf="filterFromMode.value.filterMode=='play'">
                                <img src="{{term.url}}" alt="{{term.name}}">
                                <span class="clearfix"></span>
                                <input type="radio" value="{{term.tid}}">{{term.name}}
                            </div>
                        </label>
                    </div>
                </div>
            </form>

            <ngb-tabset>
                <ngb-tab class="tabFilter">
                    <ng-template ngbTabTitle>Price Range <i class="fa fa-angle-down" aria-hidden="true"></i><span></span></ng-template>
                    <ng-template ngbTabContent>
                        <nouislider [min]="0" [max]="1000" [step]="10" [(ngModel)]="someRange3" style="margin-top: 4em;"></nouislider>
                    </ng-template>
                </ngb-tab>
                <ngb-tab>
                    <ng-template ngbTabTitle>Cuisine <i class="fa fa-angle-down" aria-hidden="true"></i></ng-template>
                    <ng-template ngbTabContent>
                        <div *ngIf="filterFromMode.value.filterMode !='play'">
                            <div *ngFor="let item of filterData.eat; let in =index" style="margin-left: 40px">
                                <div class="checkbox">
                                    <input type="checkbox" [(ngModel)]="cuisine" name="cuisine--{{item.tid}}" value="{{item.tid}}">{{item.name}}
                                </div>
                                <div class="" *ngIf="item.sub" style="margin-left: 30px;">
                                    <div class="checkbox" *ngFor="let sb of item.sub; let i = index">
                                        <input type="checkbox" [(ngModel)]="cuisine" value="{{sb.tid}}">{{sb.name}}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </ng-template>
                </ngb-tab>
                <ngb-tab>
                    <ng-template ngbTabTitle>Ratings <i class="fa fa-angle-down" aria-hidden="true"></i></ng-template>
                    <ng-template ngbTabContent>
                        <div *ngIf="filterFromMode.value.filterMode !='play'">
                            <ngb-rating [(rate)]="currentRate">
                                <ng-template let-fill="fill">
                                    <span class="star" [class.filled]="fill === 100">&#9733;</span>
                                </ng-template>
                            </ngb-rating>
                        </div>
                    </ng-template>
                </ngb-tab>
                <ngb-tab>
                    <ng-template ngbTabTitle>Best For <i class="fa fa-angle-down" aria-hidden="true"></i></ng-template>
                    <ng-template ngbTabContent>
                        <div *ngIf="filterFromMode.value.filterMode !='play'">
                            <div *ngFor="let item of filterData.best; let in =index" style="margin-left: 40px">
                                <div class="checkbox">
                                    <input type="checkbox" [(ngModel)]="best" name="best--{{item.tid}}" value="{{item.tid}}">{{item.name}}
                                </div>
                            </div>
                        </div>
                    </ng-template>
                </ngb-tab>
            </ngb-tabset>
            <div class="actionFilter">
                <label class="btn btn-default" (click)="filterCancel()">Cancel</label>
                <label class="btn btn-default apply" (click)="filterSubmit()">Apply</label>
            </div>
            <div class="clearfix"></div>
            <div class="result-wrap" slimScroll width="auto" height="calc(100vh - 265px)" size="7px" [alwaysVisible]="true" [railVisible]="true" [railOpacity]="0.1" [railColor]="'#ec3d62'" [color]="'#ec3d62'">
                <div class="list-event">
                    <div class="list-header">
                        <div class="pull-left">Sort By</div>
                        <div class="pull-right">Clear Filters</div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="items" *ngFor="let item of items; let index = 'index'">
                        <div class="list-items">
                            <div class="avatar">
                                <div class="badge">#{{index}}</div>
                                <img src="{{item.index}}">
                            </div>
                            <div class="item-content">
                                <h3 class="name">{{item.name}}</h3>
                                <div class="clearfix"></div>
                                <ngb-rating [rate]="3" disabled="true"></ngb-rating>
                                <div class="box-content">
                                    <p>{{item.email}} | {{item.phone}}</p>
                                    <p>{{item.address}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="list-event" slimScroll width="auto" height="calc(100vh - 265px)" size="7px" [alwaysVisible]="true" [railVisible]="true" [railOpacity]="0.1" [railColor]="'#ec3d62'" [color]="'#ec3d62'">
                <div class="list-header">
                    <div class="pull-left">Sort By</div>
                    <div class="pull-right">Clear Filters</div>
                </div>
                <div class="clearfix"></div>
                <div class="items" *ngFor="let item of items; let index = 'index'">
                    <div class="list-items">
                        <div class="avatar">
                            <div class="badge">#{{index}}</div>
                            <img src="{{item.index}}">
                        </div>
                        <div class="item-content">
                            <h3 class="name">{{item.name}}</h3>
                            <div class="clearfix"></div>
                            <ngb-rating [rate]="3" disabled="true"></ngb-rating>
                            <div class="box-content">
                                <p>{{item.email}} | {{item.phone}}</p>
                                <p>{{item.address}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-xs-12 gmap-box">
            <div class="box-map" style="margin-top: 20px">
                <sebm-google-map [latitude]="lat" [longitude]="lng" [zoom]="11">
                    <gmap-cluster
                            [markers]="markers">
                    </gmap-cluster>
                    <sebm-google-map-circle
                            [latitude]="lat + 0.05"
                            [longitude]="lng"
                            [radius]="5000"
                            [fillColor]="'red'"
                            [circleDraggable]="true"
                            [editable]="true"
                            (radiusChange)="handleRadiusChange()"
                            (dragEnd)="handleDrag()">
                    </sebm-google-map-circle>
                </sebm-google-map>
            </div>
        </div>
    </div>
</section>
