/* this file will be extracted to main dist folder and is imported in index.html */
/* This file is for setting global styles  */
@import url('https://fonts.googleapis.com/css?family=Roboto');
@import 'variables';
@import '../../node_modules/bootstrap/dist/css/bootstrap.min.css';
@import '../../node_modules/bootstrap/dist/css/bootstrap-theme.min.css';
@import '../../node_modules/ng-bootstrap-to-bootstrap-3/dist/ng-bootstrap-to-bootstrap-3.min.css';
@import 'font-awesome/css/font-awesome.min.css';
@import './stylesheet.css';
*{
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  color: #3b3b3b;
  outline: none;
}
nav {
  margin-top: 16px;
}
a{
  cursor: pointer;
}
.rating i.star-icon,
.rating i.star-icon:before {
  font-size: 20px;
}
.rating i.star-icon:before {
  color: #ec3d62;
}
nav a {
  background-color: $nav-button-color;
  color: white;
  padding: 8px 16px;
  margin: 8px;
  vertical-align: middle;
  line-height: 1.25;
  text-align: center;
  text-decoration: none;
  border-radius: 4px;
}

body, html {
  height: 100%;
}
.clear{
  clear: both;
}
.noleft{
  margin-left: 0 !important;
}
.noright{
  margin-right: 0 !important;
}
.text-ellipsis{
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.text-clip {
  overflow: hidden;
  text-overflow: clip;
  white-space: nowrap;
}
.sprite-icon{
  margin: auto;
}
.hype{
  //header
  .nav-item{
    height: 60px;
    line-height: 60px;
  }
  .sidebar {
    position: fixed;
    top: 60px;
    bottom: 0;
    left: 0;
    width: 80px;
    background-color: #f7f7f7;
    box-shadow: 0 2px 4px 0 rgba(171, 171, 171, 0.5);
    color: #000;
    font-weight: 600;
  }

  .main {
    position: absolute;
    top: 60px;
    left: 80px;
    right: 0;
    bottom: 0;
    background: #fff;
  }

  .list-tap {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center;
  }

  .list-tap li, .hype .list-tap li img {
    transition: all .3s;
  }

  .list-tap li img {
    width: 30px;
    height: 30px;
    -moz-transform: scale(1);
    -webkit-transform: scale(1);
    transform: scale(1);
  }

  .list-tap li span {
    color: #3b3b3b;
    font-size: 12px;
    text-align: center;
    line-height: 14px;
    width: 100%;
    display: block;
  }

  .list-tap > li {
    cursor: pointer;
    padding: 10px 0;
    color: #000000;
    opacity: .4;
    border: none;
    outline: none;
  }

  .list-tap > li.active, .hype .list-tap > li.active:hover {
    opacity: 1;
  }

  .list-tap > li:hover {
    opacity: .7;
  }

  .list-tap > li.active img, .hype .list-tap > li:hover img {
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
  .hype-nav .nav-item > a, .hype-nav .nav-item .dropdown > a{
    padding: 0;
    margin: 0;
    height: 60px;
  }
  //End header
  .btn-login{
    width: 100px;
    margin-right: -30px;
  }
  .table-wrap{
    // display: table;
  }
  .star-icons:before {
    color: #ec3d62;
  }
  .table-cell{
    display: table-cell;
  }
  .home-page .gm-style-iw{
    top: 10px !important;
    left: 10px !important;
    right: 10px !important;
  }
  .home-page .gm-style-iw + div{
    display: none;
  }
  .free-price-button {
    height: 14px;
    font-size: 14px;
    font-weight: bold;
    line-height: 1;
    color: #5052ea;
  }
  .free-price {
    opacity: 0.5;
    color: #3b3b3b;
    font-weight: 500;
  }
  .hype-nav{
    display: block;
    width: 100%;
  }
  .left{
    float: left;
  }
  .right{
    float: right;
  }

  .height100vh{
    height: 100vh;
  }
  .icon, .icon-sm{
    display: inline-block;
    -webkit-background-size: 100% 100%;
    background-size: 100% 100%;
  }
  .icon{
    width: 50px;
    height: 50px;
  }
  .icon-sm{
    width: 35px;
    height: 35px;
  }
  .icon-trend{
    background: url("../assets/icon/icon-trend.png") no-repeat center center;
  }
  .icon-discover{
    background: url("../assets/icon/icon-discover.png") no-repeat center center;
  }
  .icon-curated{
    background: url("../assets/icon/icon-curated.png") no-repeat center center;
  }
  .icon-favorite{
    background: url("../assets/icon/icon-favorite.png") no-repeat center center;
  }
  .icon-sm:hover, .icon-heart-selected{
    background: url("../assets/icon/favorite-selected.png") no-repeat center center;
  }
  .icon-heart{
    background: url("../assets/icon/favorite.png") no-repeat center center;
  }
  .icon-suggestion-marker{
    background: url("../assets/img/icons/suggestion_marker.png") no-repeat center center;
  }
//  Profile Setting
  .user-avatar{
    border-radius: 50%;
    width: 70px;
    height: 70px;
  }
  .user-avatar-small{
    border-radius: 50%;
    width: 40px;
    height: 40px;
  }
  .follow-item{
    float: left;
    text-align: center;
    width:50%;
    cursor: pointer;
    outline: none;
  }
  .avatar-wrap, .follow-wrap{
    margin-top: 10px;
    padding: 0 5px;
    text-align: center;
  }
  .follow-wrap{
    width: 100%;
    float: left;
  }

  label{
    font-weight: 300;
  }
  .member-nav{
    padding: 0;
    margin: 0;
    list-style: none;
  }
  .member-nav > li.active{
    font-weight: 700;
    color: #ec3d62;
  }
  .member-nav > li{
    display: block;
    width: 100%;
    float: left;
    height: 30px;
    line-height: 30px;
    text-align: left;
    padding-left: 34%;
    cursor: pointer;
    font-size: 16px;
  }
  //following
  .count-follow{
    width: 640px;
    height: 34px;
    font-family: Roboto;
    font-size: 30px;
    font-weight: bold;
    line-height: 1.13;
    text-align: left;
    color: #3b3b3b;
  }
  .follow-list-wrap{
    padding: 15px;
  }
  .setting-title{
    height: 34px;
    font-family: Roboto;
    font-size: 30px;
    font-weight: bold;
    line-height: 1.13;
    text-align: left;
    color: #3b3b3b;
    margin-bottom: 20px;
  }
  //END follow
  .interest-item-wrap{
    float: left;
    transition: width 0.3s;
    overflow: hidden;
  }
  //favorite
  .tab-content.fade.in{
    height: auto;
  }
  .tab-content.fade{
    height: 0;
    overflow: hidden;
    width: 100%;
    text-align: center;
  }
  .fav-component{
    .tab-control.btn-group .btn+.btn,
    .tab-control.btn-group .btn+.btn-group,
    .tab-control.btn-group .btn-group+.btn,
    .tab-control.btn-group .btn-group+.btn-group{
      margin-left: 0;
    }
    .tab-control.btn-group>.btn:last-child:not(:first-child),
    .tab-control.btn-group>.btn:first-child:not(:last-child),
    .tab-control.btn-group>.btn:not(:first-child):not(:last-child):not(.dropdown-toggle){
      border-top-right-radius: 4px;
      border-bottom-right-radius: 4px;
      border-top-left-radius: 4px;
      border-bottom-left-radius: 4px;
    }
    .tab-control .btn{
      width: 100px;
      height: 32px;
      background: #f6f6f6;
      color: #000000;
      border-radius: 4px;
      outline: none;
      line-height: 16px;
      border: none;
      z-index: 5;
      opacity: .5;
    }
    .tab-control .btn.active{
      opacity: 1;
      border: none;
      background: #2a6be1;
      box-shadow: 0 2px 3px 0 rgba(148, 148, 148, 0.5);
      color: #ffffff;
      z-index: 10;
    }
    .tab-control{
      margin-left: 30px;
      border: 1px solid #d8d8d8;
      box-shadow: 1px 1px 3px 0 #d8d8d8;
      border-radius: 4px;
      margin-bottom: 10px;
    }
    .icon-times{
      position: absolute;
      font-size: 26px;
      font-weight: 300;
      color: #bdbcbc;
      height: 15px;
      width: 15px;
      line-height: 15px;
      cursor: pointer;
      z-index: 10;
      top: 6px;
      right: 0;
    }
    .favorites-title {
      margin: 30px 0 20px 30px;
      width: 640px;
      height: 34px;
      font-family: Roboto;
      font-size: 30px;
      font-weight: bold;
      line-height: 1.13;
      text-align: left;
      color: #3b3b3b;
    }
    .nav-tabs li:first-child {
      margin-left: 30px;
    }
    .nav-tabs li:nth-child(2) {
      border-right: 0;
      border-left: 0;
    }
    .nav-tabs li {
      border: 1px solid #ccc;
    }
    .tab-content {
      margin-left: 30px;
    }
    .nav-tabs li a {
      border: 0;
      width: 80px;
      text-align: center;
      color: #555;
    }
    .wrap-each-items {
      width: 710px;
      border-bottom:2px solid #eaeaea;
      height: 120px;
      margin-top: 20px;
      overflow: hidden;
      position: relative;
    }
    .wrap-each-items.smaller{
      height: 100px;
    }
    .avatar-profile *{
      color: #ffffff;
    }
    .avatar-profile {
      width: 100px;
      height: 100px;
      float: left;
      margin-right: 16px;
      position: relative;
      overflow: hidden;
      border-radius: 4px;
    }
    .avatar-profile.smaller{
      width: 80px;
      height: 80px;
    }
    .month {
      position: absolute;
      top: 10px;
      left: 10px;
      width: 27px;
      height: 14px;
      font-family: Roboto;
      font-size: 14px;
      line-height: 1;
      text-align: left;
      color: #ffffff;
    }
    .date-number {
      position: absolute;
      top: 28px;
      left: 10px;
      width: 28px;
      height: 24px;
      font-family: Roboto;
      font-size: 24px;
      font-weight: 500;
      line-height: 1;
      text-align: left;
      color: #ffffff;
    }
    .heart {
      position: absolute;
      top: 8%;
      right: 10%;
      font-size: 22px;
      font-weight: bold;
      cursor: pointer;
    }

    .information-title  {
      margin: 6px auto 8px auto;
      width: 504px;
      height: 20px;
      font-family: Roboto;
      font-size: 18px;
      font-weight: bold;
      line-height: 1;
      text-align: left;
      color: #3b3b3b;
      cursor: pointer;
    }
    .detail-information {
      width: 504px;
      height: 40px;
      font-family: Roboto;
      font-size: 14px;
      font-weight: 300;
      line-height: 1.43;
      text-align: left;
      color: #3b3b3b;
    }
    p.detail-information * {
      font-size: 14px;
      margin: 0;
      padding: 0;
    }
    .information-profile {
      width: 504px;
      float: left;
      position: relative;
    }
    h5.mentioned {
      float: left;
      text-transform: uppercase;
      margin-top: 0;
      font-size: 10px;
      width: 15%;
      line-height: 16px;
      margin-right: 18px;
      color: #bfbfbf;
    }
    ul.mentioned-item li {
      list-style: none;
      background: #ccc;
      float: left;
      margin-right: 8px;
      width: 30px;
      height: 30px;
      border: 2px solid #ccc;
    }
    .price-button{
      position: absolute;
      top: 0;
      right: 0;
      color: #ec3d62;
      font-weight: bold;
      font-size: 14px;
    }
    .price-button.free-price{
      color: #3b3b3b;
      font-weight: 100;
      text-transform: capitalize;
    }
    .right-arrow {
      position: absolute;
      font-size: 22px;
      color: #bdbcbc;
      font-weight: normal;
    }
    .fav-item-image{
      width: 100px;
      height: 100px;
      border-radius: 4px;
    }
    .fav-item-image-small{
      width: 80px;
      height: 80px;
    }
    .month, .date-number,.heart{
      z-index: 2;
    }
    .img-layer{
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background-color: #070707;
      opacity: 0.6;
      z-index:1;
    }
    .tab-wrap{
      position: relative;
      display: block;
      width: 100%;
      min-height: 1px;
      border-top: 1px solid #d8d8d8;
      background-color: #ffffff;
    }
    .tab-content{
      position: absolute;
      top:0;
    }
  }
  //END favorite
  //Gmap-place
  .image-box .panel-heading {
    padding: 5px 15px;
    border-bottom: 1px solid transparent;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    font-weight: 600;
  }
  //END Gmap-places
  //CURATE
  .new-list{
    padding: 15px;
    display: block;
    min-height: 1px;
    width: 100%;
  }
  .new-list header ul li{
    display: inline-block;
    cursor: pointer;
    width: 150px;
    height: 40px;
    line-height: 40px;
  }
  .new-list header ul{
    margin: 0;
    background-image: -webkit-linear-gradient(top,#f5f5f5 0,#e8e8e8 100%);
    background-image: -o-linear-gradient(top,#f5f5f5 0,#e8e8e8 100%);
    background-image: -webkit-gradient(linear,left top,left bottom,from(#f5f5f5),to(#e8e8e8));
    background-image: linear-gradient(to bottom,#f5f5f5 0,#e8e8e8 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff5f5f5', endColorstr='#ffe8e8e8', GradientType=0);
    background-repeat: repeat-x;
  }
  .new-list .form-actions{
    margin-top: 15px;
  }
  .preview-wrap .delete-btn:hover{
    text-decoration: none;
  }
  .preview-wrap .delete-btn{
    top: 3px;
    right: 5px;
    position: absolute;
    background: #64b5f6;
    width: 20px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    cursor: pointer;
    color: white;
  }
  .preview-wrap img{
    width: calc(100% - 3px);
    padding: 3px;
  }
  .preview-wrap{
    float: left;
    width: calc(100% / 3);
    position: relative;
    margin:0;
  }
  .list-img-box label:first-child{
    width: 100%;
  }
  #list-img-label{
    cursor: pointer;
    color: #ec3d62;
  }
  #listImg{
    display: none;
  }
  .list-img-box{
    position: relative;
    min-height: 80px;
  }
  .new-list .image-box .panel:first-child{
    margin-top: 50px;
  }
  .input-box > h3{
    text-transform: capitalize;
  }
  /*for preview*/
  .map-box, .list-box{
    float: left;
    width: 50%;
  }
  .internal-link{
    color: #3b3b3b;
  }
  .internal-link.active{
    font-weight: 600;
    color: #2a6be1;
  }
  .place-item-header{
    height: 35px;
    line-height: 30px;
    margin-bottom: 5px;
    overflow: hidden;
    width: 100%;
  }
  .place-detail-btn{
    color: #ec3d62;
    border-radius: 5px;
    padding: 0 5px;
    border: 1px solid #ec3d62;
    height: 30px;
    line-height: 30px;
  }
  .place-index{
    height: 30px;
    line-height: 30px;
    min-width: 50px;
    border: 1px solid #b3b3b3;
    text-align: center;
  }
  .place-item-wrap.active{
    background: red;
    color: white;
    border: 1px solid green;
  }
  .place-item-wrap{
    min-height: 300px;
  }
  .place-name{
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: keep-all;
    width: 470px;
    margin: 0;
    padding: 0;

  }
  .carousel-header{
    margin: 10px 0;
  }
  .place-item-description.active{
    padding: 10px;
    margin: 0;
    text-align: justify;
  }
  //END CURATE
  //CURATE LIST

  .carousel-control .glyphicon{
    display: none;
  }
  .carousel-control:hover{
    opacity: .9;
  }
  .carousel-control{
    width: 44px;
    height: 44px;
    top: calc(50% - 22px);
    background: transparent;
    line-height: 44px;
    border-radius: 50%;
    margin: 0 10px;
    opacity: .3;
    cursor: pointer;
  }
  .carousel-control.left{
    background: transparent url('../assets/icon/L.png') no-repeat center center ;
  }
  .carousel-control.right{
    background: transparent url('../assets/icon/R.png') no-repeat center center ;
  }
  .carousel-inner img{
    width: 100%;
    height: 275px;
  }
  .carousel-inner .slide-group{
    width: 33.3%;
    float: left;
    display: inline-block;
    position: relative;
    height: 275px;
  }
  #curate-carousel .item.carousel-item{
    transition: all 1s;
    //width: 33.3%;
  }
  #curate-carousel .carousel-caption *{
    color: #ffffff;
  }
  #curate-carousel .carousel-caption{
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to bottom, rgba(7, 7, 7, 0.3), rgba(7, 7, 7, 0.6));
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
  .carousel-indicators{
    display: inline-block;
    //top: 0;
  }
  .carousel-indicators li {
    border: none;
    background-color: #bababa;
  }
  .carousel-indicators li.active {
    background-color: #ec3d62;
  }
  #curate-carousel .carousel-content > strong{
    width: 100%;
    display: block;
  }
  #curate-carousel .carousel-content{
    position: absolute;
    height: 40px;
    left: 15px;
    right: 15px;
    bottom: 10px;
  }
  .post-title-content{
    font-size: 18px;
    line-height: 18px;
    margin-bottom: 10px;
    font-weight: bold;
  }
  .post-author .time-post{
    opacity: 0.6;
  }
  .post-author .auth-name{
    margin-right: 10px;
  }
  .post-author{
    margin-bottom: 10px;
    line-height: 12px;
  }
  .post-author *{
    font-size: 12px;
    line-height: 12px;
    font-weight: 300;
  }
  //END CURATE LIST
  //MEMBER
  .setting-wrap{
    width: 100%;
  }
  .col-right, .setting-wrap{
    border-left: 1px solid #eaeaea;
  }
  //END MEMBER
  //Notifications
  #notifications {
    left: unset;
    width: 360px;
    top: 95%;
    right: -25px;
  }
  ul#notifications li:first-child {
    position: relative;
  }
  span.mark-all-right {
    float: right;
  }
  .icon-notification {
    float: left;
  }
  ul#notifications li i.logo {
    margin: 10px 20px 33px;
  }
  ul#notifications li span.notify-left {
    font-size: 12px;
    margin-left: 10px;
  }
  ul#notifications li span.notify-left a {
    color: #3b3b3b;
  }
  ul#notifications li span.mark-all-right {
    font-size: 12px;
    margin-right: 10px;
    color: #ec3d62;
    cursor: pointer;
    text-transform: none;
  }
  .arrow-up {
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 12px solid #fff;
    position: absolute;
    top: -54%;
    right: 6%;
  }
  .navbar-nav > li.logo {
    margin-left: 40px;
    padding: 0;
  }
  .navbar-nav > li.logo > a {
    margin: 0;
    padding: 0;
  }
  .hype-nav > li.logo i {
    margin-top: 4px;
  }
  li#site-name {
    font-size: xx-large;
    margin-left: 30px;
  }
  li#site-name a {
    margin-top: 4px;
  }
  .hype-header {
    margin-bottom: 0;
    background: #ec3d62;
  }
  .user-option > a {
    color: white;
    letter-spacing: 1px;
    text-transform: capitalize;
  }
  .map-option {
    height: 60px;
    line-height: 60px;
  }
  .map-option li {
    line-height: 20px;
    padding: 5px;
    cursor: pointer;
    transition: all 0.3s;
    text-transform: capitalize;
    clear: both;
  }
  .map-option li:hover {
    background: rgba(236, 61, 98, 0.5);
  }
  .map-option .dropdown-menu li.active,
  .map-option .dropdown-menu li.active:hover,
  .map-option .dropdown-menu li.active:focus {
    color: #fff;
    text-decoration: none;
    outline: 0;
    background-color: #ec3d62;
  }
  .map-option input {
    margin-top: 12px;
    border-radius: 5px !important;
    padding-left: 30px;
    height: 35px;
  }
  .navbar-default .navbar-nav > li > a {
    color: #fff;
    font-size: 30px;
    font-family: ArialRoundedMTBold, sans-serif;
  }
  .navbar-default .navbar-nav > li > a:hover,
  .navbar-default .navbar-nav > li > a:focus {
    outline: none;
    color: #fff;
  }
  header .nav > li {
    margin-left: 20px;
  }
  [role=button] {
    color: #fff;
    font-size: 14px;
    font-family: Roboto-Medium, sans-serif;
    text-transform: capitalize;
    letter-spacing: 2px;
  }
  [role=button]:hover {
    text-decoration: none;
  }
  .wrap-search-input {
    position: relative;
    width: 100%;
  }
  .map-option button.btn-default {
    background: url('../assets/img/homepage/icon-search.png') no-repeat;
    padding: 10px 10px;
    position: absolute;
    border: none;
    box-shadow: none;
    z-index: 999;
    top: 22px;
    left: 6px;
  }
  .map-option button.btn-default:focus {
    outline: none;
  }
  .hype-nav > li img[alt="icon-down"] {
    margin-top: 0;
  }

  button.btn > i {
    margin: 0;
  }
  .nav-search {
    margin-top: 12px;
  }
  .nav-search > input {
    position: absolute;
    padding-left: 20px;
  }
  .nav-search > i {
    position: absolute;
    width: 300px;
  }
  /*notifications bage*/
  #notifications .notification-item{
    min-height: 60px;
    background-color: rgba(186, 186, 186, 0.2);
    overflow: hidden;
    padding: 10px;
  }
  #notifications .notification-item.has_read{
    background: #ffffff;
  }
  #notifications .notification-item:hover{
    background-color: rgba(186, 186, 186, 0.1);
  }
  .notification-item:not(:last-child){
    border-bottom: solid 2px #eaeaea;
  }
  #notifications > li:first-child{
    cursor: unset;
  }
  #notifications > li:first-child:hover{
    background: #ffffff;
  }
  .notification-item p{
    margin: 0;
    padding: 0;
  }
  .notification-item .icon-notification img{
    margin: 0;
    padding: 0;
    border-radius: 50%;
  }
  .notification-item .icon-notification{
    width: 30px;
    float: left;
  }
  .notification-item .content-notification{
    width: calc(100% - 40px);
    float: right;
    line-height: 20px;
    font-size: 14px;
    font-weight: 300;
  }
  .notification-item .content-notification .time-ago {
    line-height:10px;
    font-size: 10px;
    opacity: .7;
  }
  .Line-Copy {
    width: 100%;
    height: 2px;
    border: solid 1px #eaeaea;
  }
  .list-bottom{
    display: block;
    width: 100%;
    text-align: center;
    clear: both;
    height: 20px;
    line-height: 20px;
  }

  /*
  Home css
  */
  .homeFilter{
    float: left;
    clear: both;
    margin-top: 1em;
  }
  .homeFilter ul.nav-tabs{
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .homeFilter li.nav-item a {
    border: none;
    background: transparent;
    font-family: Roboto;
    font-size: 12px;
    font-weight: 500;
    line-height: 1;
    text-align: right;
    color: #3b3b3b;
  }

  .homeFilter .nav-link.active,
  .homeFilter .nav-link.active:hover,
  .homeFilter .nav-link.active:focus {
    border: none;
  }

  .homeFilter .nav-link.active i:before,
  .homeFilter .nav-link.active:hover i:before,
  .homeFilter .nav-link.active:focus i:before {
    content: "\f106";
  }

  .homeFilter ul.nav-tabs li.nav-item a.nav-link {
    text-align: left;
    padding: 0px;
  }
  .homeFilter ul.nav-tabs li.nav-item a.nav-link i {
    font-size: 16px;
    position: relative;
    top: 2px;
    margin-left: 7px;
  }
  .homeFilter .ng2-nouislider{
    margin-left: 15px;
  }

  .daterangepicker .ranges{
    float: right !important;
    clear: both;
  }
  .scrollable { height: 100vh; position: relative;}
  //.scrollable > div {height: 110px}
  //.scrollable > div:nth-child(odd) { background-color: #ccc}

  ul.window {position: fixed; top: 0; left: 0; background: yellow; z-index: 1;}
  ul.window li {display: block; }
  .scrollable.section {overflow:auto;}

  .horizontal {
    height: 100px;
    width: 100%;
    max-width: 450px;
    white-space: nowrap;
    overflow-y: hidden !important;
  }
  .horizontal > div {
    width: 200px;
    height: 80px;
    display: inline-block;
    text-align: center;
  }



  /*END notifications bage*/
  @media (max-width: 991px) {
    .navbar-header {
      float: none;
    }
    .navbar-toggle {
      display: block;
    }
    .navbar-collapse {
      border-top: 1px solid transparent;
      box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
    }
    .navbar-collapse.collapse {
      display: none !important;
    }
    .navbar-nav {
      float: none !important;
      margin: 7.5px -15px;
    }
    .navbar-nav > li {
      float: none;
    }
    .navbar-nav > li > a {
      padding-top: 10px;
      padding-bottom: 10px;
    }
    .navbar-text {
      float: none;
      margin: 15px 0;
    }
    /* since 3.1.0 */
    .navbar-collapse.collapse.in {
      display: block !important;
    }
    .collapsing {
      overflow: hidden !important;
    }
  }
  //END Notifications
  //responsive
  @media screen and(min-width: 768px){
    .setting-wrap > div{
      min-height: calc(100vh - 50px);
      padding: 0;
    }
    .navbar-nav>li>a{
      //padding-top: 10px;
      //padding-bottom: 10px;
      //line-height: 20px;
    }
    .new-list{
      .sebm-google-map-container,.list-box
      {
        height:  calc(100vh - 150px);
      }
    }
    .sebm-google-map-container
    {
      height:  calc(100vh - 50px);
    }
    .star-icons:before {
      color: #ec3d62;
    }
  }
  @media screen and(max-width: 767px){
    .setting-wrap > div{
      height: auto;
    }
    .sebm-google-map-container,.list-box
    {
      height:  100vh;
    }
    .left-box{
      height: auto;
    }
  }
}
