/* this file will be extracted to main dist folder and is imported in index.html */
/* This file is for setting global styles  */
@import 'variables';
@import '../../node_modules/bootstrap/dist/css/bootstrap.min.css';
@import '../../node_modules/bootstrap/dist/css/bootstrap-theme.min.css';
@import '../../node_modules/ng-bootstrap-to-bootstrap-3/dist/ng-bootstrap-to-bootstrap-3.min.css';
@import 'font-awesome/css/font-awesome.min.css';
nav {
  margin-top: 16px;
}

nav a {
  background-color: $nav-button-color;
  color: white;
  padding: 8px 16px;
  margin: 8px;
  vertical-align: middle;
  line-height: 1.25;
  text-align: center;
  text-decoration: none;
  border-radius: 4px;
}

body, html {
  height: 100%;
}
.clear{
  clear: both;
}
.hype{
  .hype-nav{
    display: block;
    width: 100%;
  }
  .left{
    float: left;
  }
  .right{
    float: right;
  }
  .left-box{
    height: calc(100vh - 50px);
  }
  .height100vh{
    height: 100vh;
  }
  .icon, .icon-sm{
    display: inline-block;
    -webkit-background-size: 100% 100%;
    background-size: 100% 100%;
  }
  .icon{
    width: 50px;
    height: 50px;
  }
  .icon-sm{
    width: 35px;
    height: 35px;
  }
  .icon-trend{
    background: url("../assets/icon/icon-trend.png") no-repeat center center;
  }
  .icon-discover{
    background: url("../assets/icon/icon-discover.png") no-repeat center center;
  }
  .icon-curated{
    background: url("../assets/icon/icon-curated.png") no-repeat center center;
  }
  .icon-favorite{
    background: url("../assets/icon/icon-favorite.png") no-repeat center center;
  }
  .icon-heart-selected{
    background: url("../assets/icon/favorite-selected.png") no-repeat center center;
  }
  .icon-heart{
    background: url("../assets/icon/favorite.png") no-repeat center center;
  }
//  Profile Setting
  .user-avatar{
    border-radius: 50%;
    width: 70px;
    height: 70px;
  }
  .follow-item{
    float: left;
    text-align: center;
    width:50%;
    cursor: pointer;
  }
  .avatar-wrap, .follow-wrap{
    margin-top: 10px;
    padding: 0 5px;
    text-align: center;
  }
  .follow-wrap{
    width: 100%;
    border-bottom: 1px solid #c3c3c3;
    float: left;
  }
  label{
    font-weight: 300;
  }
  .col-left{
    border-right: 1px solid #c3c3c3;
    padding: 0;
  }
  .member-nav{
    padding: 0;
    list-style: none;
  }
  .member-nav > li.active{
    font-weight: 700;
  }
  .member-nav > li{
    display: block;
    width: 100%;
    float: left;
    height: 30px;
    line-height: 30px;
    border-bottom: 1px solid #c3c3c3;
    text-align: left;
    padding-left: 30%;
    cursor: pointer;
  }
  //following
  .interest-item-wrap{
    float: left;
    transition: width 0.3s;
    overflow: hidden;
  }
  //favorite
  .fav-component{
    .favorites-title {
      margin-left: 20px;
    }
    .nav-tabs li:first-child {
      margin-left: 20px;
    }
    .nav-tabs li:nth-child(2) {
      border-right: 0;
      border-left: 0;
    }
    .nav-tabs li {
      border: 1px solid #ccc;
    }
    .tab-content {
      margin-left: 20px;
    }
    .nav-tabs li a {
      border: 0;
      width: 80px;
      text-align: center;
      color: #555;
    }


    .wrap-each-items {
      border-bottom: 1px solid #ccc;
      width: 70%;
      height: 180px;
      margin-top: 30px;
    }
    .avatar-profile {
      width: 140px;
      height: 140px;
      background: #ccc;
      float: left;
      margin-right: 10px;
      position: relative;
      color: #ffffff;
    }
    .month {
      position: absolute;
      top: 12%;
      left: 8%;
      font-size: 16px;
    }
    .date-number {
      position: absolute;
      top: 25%;
      left: 6%;
      font-size: 26px;
      font-weight: bold;
    }
    .heart {
      position: absolute;
      top: 8%;
      right: 10%;
      font-size: 22px;
      font-weight: bold;
      cursor: pointer;
    }

    h4.information-title  {
      margin-top: 0;
      font-weight: bold;
      font-size: 16px;
    }
    p.detail-information {
      width: 82%;
      font-size: 13px;
      margin-bottom: 21px;
    }
    .information-profile {
      width: 70%;
      float: left;
      margin-left: 8px;
      position: relative;
    }
    h5.mentioned {
      float: left;
      text-transform: uppercase;
      margin-top: 0;
      font-size: 10px;
      width: 15%;
      line-height: 16px;
      margin-right: 18px;
      color: #bfbfbf;
    }
    ul.mentioned-item li {
      list-style: none;
      background: #ccc;
      float: left;
      margin-right: 8px;
      width: 30px;
      height: 30px;
      border: 2px solid #ccc;
    }
    .price-button{
      position: absolute;
      top: 0;
      right: 0;
      color: #ec3d62;
      font-weight: bold;
      font-size: 14px;
    }
    .price-button.free-price{
      color: #3b3b3b;
      font-weight: 100;
      text-transform: capitalize;
    }
    .right-arrow {
      position: absolute;
      top: 39%;
      right: 1%;
      font-size: 22px;
      color: #bdbcbc;
      font-weight: normal;
    }
    .fav-item-image{
      width: 140px;
      height: 140px;
      border-radius: 4px;
    }
    .month, .date-number,.heart{
      z-index: 2;
    }
    .img-layer{
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background-color: #070707;
      opacity: 0.6;
      z-index:1;
    }
  }
  //END favorite
  //Gmap-place
  .image-box .panel-heading {
    padding: 5px 15px;
    border-bottom: 1px solid transparent;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    font-weight: 600;
  }
  //END Gmap-places
  //CURATE
  .new-list{
    padding: 15px;
    display: block;
    min-height: 1px;
    width: 100%;
  }
  .new-list header ul li{
    display: inline-block;
    cursor: pointer;
    width: 150px;
    height: 40px;
    line-height: 40px;
  }
  .new-list header ul{
    margin: 0;
    background-image: -webkit-linear-gradient(top,#f5f5f5 0,#e8e8e8 100%);
    background-image: -o-linear-gradient(top,#f5f5f5 0,#e8e8e8 100%);
    background-image: -webkit-gradient(linear,left top,left bottom,from(#f5f5f5),to(#e8e8e8));
    background-image: linear-gradient(to bottom,#f5f5f5 0,#e8e8e8 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff5f5f5', endColorstr='#ffe8e8e8', GradientType=0);
    background-repeat: repeat-x;
  }
  .new-list .form-actions{
    margin-top: 15px;
  }
  .preview-wrap .delete-btn:hover{
    text-decoration: none;
  }
  .preview-wrap .delete-btn{
    top: 3px;
    right: 5px;
    position: absolute;
    background: #64b5f6;
    width: 20px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    cursor: pointer;
    color: white;
  }
  .preview-wrap img{
    width: calc(100% - 3px);
    padding: 3px;
  }
  .preview-wrap{
    float: left;
    width: calc(100% / 3);
    position: relative;
    margin:0;
  }
  .list-img-box label:first-child{
    width: 100%;
  }
  #list-img-label{
    cursor: pointer;
    color: #ec3d62;
  }
  #listImg{
    display: none;
  }
  .list-img-box{
    position: relative;
    min-height: 80px;
  }
  .new-list .image-box .panel:first-child{
    margin-top: 50px;
  }
  .input-box > h3{
    text-transform: capitalize;
  }
  /*for preview*/
  .sebm-google-map-container,.list-box
  {
    height:  calc(100vh - 150px);
  }
  .list-box{
    overflow-y: scroll;
    margin-right: -35px;
  }
  .map-box, .list-box{
    float: left;
    width: 50%;
  }
  .internal-link{
    color: #3b3b3b;
  }
  .internal-link.active{
    font-weight: 600;
    color: #2a6be1;
  }
  .place-item-header{
    height: 35px;
    line-height: 30px;
    margin-bottom: 5px;
    overflow: hidden;
    width: 100%;
  }
  .place-detail-btn{
    color: #ec3d62;
    border-radius: 5px;
    padding: 0 5px;
    border: 1px solid #ec3d62;
    height: 30px;
    line-height: 30px;
  }
  .place-index{
    height: 30px;
    line-height: 30px;
    min-width: 50px;
    border: 1px solid #b3b3b3;
    text-align: center;
  }
  .place-item-wrap.active{
    background: red;
    color: white;
    border: 1px solid green;
  }
  .place-item-wrap{
    min-height: 300px;
  }
  .place-name{
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: keep-all;
    width: 470px;
    margin: 0;
    padding: 0;

  }
  .carousel-header{
    margin: 10px 0;
  }
  .place-item-description{
    padding: 10px;
    margin: 0;
    text-align: justify;
  }
  //END CURATE

  //responsive
  @media screen and(min-width: 768px){
    .setting-wrap > div{
      height: calc(100vh - 50px);
    }
    .navbar-nav>li>a{
      padding-top: 10px;
      padding-bottom: 10px;
      line-height: 20px;
    }
  }
  @media screen and(max-width: 767px){
    .setting-wrap > div{
      height: auto;
    }
  }
}
