<div class="wrap-each-items" *ngIf="item" [id]="item.nid">
  <div *ngIf="isCurrentUser" class="close-button text-right icon-times" (click)="onDeleteEmit(item)">&times;</div>
  <div class="avatar-profile">
    <div class="img-layer"></div>
    <div class="fav-item-image">
      <img [src]="item.field_image" width="100" height="100">
    </div>
    <div class="month" *ngIf="item.created">{{item.created | amFromUnix | date:'MMM'}}</div>
    <div class="date-number" *ngIf="item.created">{{item.created | amFromUnix | date:'dd '}}</div>
  </div>
  <div class="information-profile">
    <div class="top-content">
      <h4 [routerLink]="[item.slug]" class="information-title text-ellipsis">{{item.title}}</h4>
      <app-star-vote [stars]="item.av_vote" (onVote)="onVoteEvent($event)"></app-star-vote>
      <p class="detail-information" [innerHTML]="item.body | myHtml2Text | truncate : 150"></p>
    </div>
  </div>
</div>
