<style>
@media all and (-ms-high-contrast:none) {
    .image-animation img {
        position: absolute;
        top: 50%;
        left: 46%;
        transform: translateY(-50%);
        width: 150px;
    }
    /* IE10 */
    *::-ms-backdrop,
    .image-animation img {
        position: absolute;
        top: 50%;
        left: 46%;
        transform: translateY(-50%);
        width: 150px;
    }
    /* IE11 */
}
</style>
<div [class.loader-hidden]="!show">
    <div class="loader-overlay">
        <div>
            <div class="image-animation" *ngIf="show"><img src="../../../assets/icon/animation.gif"></div>
        </div>
    </div>
</div>
