/*left box start*/
.left-box {
    padding-left: 0px;
    padding-right: 0px;
    border-right: 1px solid #eaeaea;
}
.top-content {
    padding: 30px 40px;
    border-bottom: 1px solid #eaeaea;
}
ul.list-category {
    list-style: none;
    padding-left: 0;
}
ul.list-category li {
    float: left;
    margin-right: 40px;
    font-size: 13px;
}
ul.list-category li a {
    color: #3b3b3b;
}
ul.list-category li.active a {
    color: #2a6be1;
}
.wrap-post-content {
    display: block;
}
.primary-content {
    padding: 20px 40px;
}
.primary-content > h4 {
    font-weight: bold;
    padding: 30px 0px 15px;
    clear: both;
}
p.author {
    float: left;
    margin-right: 20px;
    position: absolute;
    bottom: 1%;
    left: 4%;
    color: #fff;
    font-size: 12px;
}
p.author a {
    color: #fff;
}
.post-content  {
    width: 33%;
    float: left;
    height: 260px;
    position: relative;
}
.post-content .post-content-img{
    width: 100%;
    height: 260px;
}
.post-content h4 {
    color: #fff;
    position: absolute;
    bottom: 11%;
    left: 3%;
    text-transform: capitalize;
}
span.time-posts {
    position: absolute;
    bottom: 5%;
    left: 40%;
    color: #fff;
    font-size: 12px;
}
.post-news {
    width: 30%;
    float: left;
    margin-right: 33px;
    padding-bottom: 33px;
}
.post-news:nth-child(3n) {
    margin-right: 0px;
}
.post-news .image-post-news img{
    width: 230px;
    height: 150px;
}
h4.title-post-news  {
    margin: 25px 0px;
    font-weight: bold;
    text-transform: capitalize;
    text-overflow: ellipsis;
    word-wrap: break-word;
    overflow: hidden;
    max-height: 60px;
    line-height: 30px;
    font-size: 13px;
}
p.author-post-news {
    float: left;
    margin-right: 25px;
    margin-bottom: 20px;
    font-size: 12px;
}
p.author-post-news a {
    color: #3b3b3b;
}
span.time-post-news {
    font-size: 12px;
    position: relative;
    top: -4px;
}
p.content-post-news {
    clear: both;
}
/*left box end*/



/*right box start*/
.right-box > h3  {
    font-weight: bold;
    line-height: 50px;
    font-size: 30px;
}
ul.list-items {
    list-style: none;
    padding-left: 0px;
}
ul.list-items li {
    margin: 20px 0px;
    padding-bottom: 20px;
    border-bottom: 1px solid #eaeaea;
    width: 90%;
}
ul.list-items li a {
    color: #3b3b3b;
    font-size: 13px;
}
ul.list-items li p {
    width: 260px;
    font-weight: bold;
    display: block;
    text-overflow: ellipsis;
    word-wrap: break-word;
    overflow: hidden;
    max-height: 60px;
    line-height: 30px;
    font-size: 13px;
}
ul.list-items li a img {
    margin-right: 10px;
    float: left;
}
.list-category li.active{
    color: #2a6be1;
}
.list-category li{
    cursor: pointer;
    text-transform: capitalize;
    font-size: 14px;
    color: #3b3b3b;
}
/*right box end*/