<section>
  <div class="">
    <div class="col-lg-9 col-xs-12 left-box table-cell" (scroll)="onScrollDown($event)">
      <!-- top content start -->
      <div class="top-content">
        <ul *ngIf="categories" class="list-category">
          <li *ngFor="let cat of categories" (click)="onSelectCategory(cat.tid)"
              [class.active]="cat.tid===selectedCategory">{{cat.name}}
          </li>
        </ul>
      </div>
      <!--top content end-->
      <!--primary content start-->
      <div class="primary-content">
        <div *ngIf="featuredArticles" class="row wrap-post-content">
          <app-boostrap-carousel [interval]="NextPhotoInterval" [noWrap]="noLoopSlides" [id]="'curate-carousel'"
                                 [noPause]="noPause" [indicators]="false"
                                 [noTransition]="noTransition" class="col-xs-12 col-lg-12">
            <app-slide-carousel *ngFor="let slideGroup of featuredArticles">

              <div class="slide-group" *ngFor="let art of slideGroup">
                <img [src]="art.field_images[0]" style="margin:auto;">
                <div class="carousel-caption">
                  <div class="carousel-content">
                    <strong [routerLink]="[art.alias]"  class="post-title-content text-ellipsis">{{art.title}}</strong>
                    <strong class="post-author">
                      <span class="auth-name">By: {{art.user_post.name}}</span>
                      <span class="time-post">{{art.created | amFromUnix | amTimeAgo}}</span>
                    </strong>
                  </div>
                </div>
              </div>
            </app-slide-carousel>
          </app-boostrap-carousel>
        </div>
        <h4>What's news</h4>
        <div *ngIf="latestArticles" class="row wrap-post-news">
          <div *ngFor="let art of latestArticles" class="col-xs-12 col-lg-4 post-news">
            <div class="image-post-news">
              <img class="post-content-img" [src]="art.field_images[0]" [alt]="art.title">
            </div>
            <div class="new-info">
              <h4 [routerLink]="[art.alias]" class="post-title-content text-ellipsis">{{art.title}}</h4>
              <p class="post-author">
                By: <span class="auth-name">{{art.user_post.name}}</span>
                <span class="time-post">{{art.created | amFromUnix | amTimeAgo}}</span>
              </p>
              <p class="content-post-news">
                {{art.body | myHtml2Text | truncate : 60}}
              </p>
            </div>
          </div>
          <app-small-loader></app-small-loader>
        </div>
      </div>
      <!--primary content end-->
    </div>
    <!--left box end-->

    <!--right box start-->
    <div class="col-lg-3 col-xs-12 right-box table-cell">
      <h3>Trending this week</h3>
      <ul *ngIf="trending" class="list-items">
        <li *ngFor="let art of trending">
          <a [title]="art.title" [routerLink]="[art.alias]">
            <img [src]="art.field_images[0]" [alt]="art.title" width="60" height="60">
            <p class="title-trending">{{art.title | myHtml2Text | truncate : 48}}</p>
          </a>
        </li>
      </ul>
    </div>
    <!--right box end-->
  </div>

</section>
