@import "~nouislider/distribute/nouislider.min.css";

a.active {
    background-color: gray;
}

.row {
    width: 100%;
}
.noUi-horizontal .noUi-handle {
    border-radius: 50%;
}

.noUi-horizontal {
    height: 5px;
}

.noUi-horizontal .noUi-handle {
    width: 28px;
    height: 28px;
    left: -17px;
    top: -12px;
    outline: none;
}

.noUi-handle:before {
    left: 10px;
}