html, body{
  height: 100%;
  font-family: Arial, Helvetica, sans-serif
}

a.active {
  background-color: gray;
}
.row {
  width: 100%;
}

.navbar-nav>li.logo {
  margin-left: 40px;
  padding: 0;
}
.navbar-nav>li.logo>a {
  margin: 0;
  padding: 0;
}
.hype-nav>li.logo i {
  margin-top: 4px;
}

li#site-name {
  font-size: xx-large;
  margin-left: 0;
}
.hype-header{
  margin-bottom: 0;
}

.user-option>a {
  color: black;
}

.hype .sidebar{
  position: absolute;
  top: 50px;
  bottom: 0;
  left: 0;
  background: #f8f8f8;
  width: 75px;
  color: #000;
  font-weight: 600;
}
.hype .main{
  position: absolute;
  top: 50px;
  left: 90px;
  right: 15px;
  bottom: 0;
  background: #fff;
}
.hype .list-tap{
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: center;
}
.hype .list-tap > li .icon{
  -moz-transition: all 0.2s;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  -moz-transform: scale(0.95);
  -webkit-transform: scale(0.95);
  transform: scale(0.95);
}
.hype .list-tap > li{
  cursor: pointer;
  padding: 10px 0;  border-top: 1px solid transparent;
  border-bottom: 1px solid transparent;
  color: rgba(0, 0, 0, 0.6);
}
.hype .list-tap > li.active, .hype .list-tap > li:hover{
  border-top: 1px solid #c3c3c3;
  border-bottom: 1px solid #c3c3c3;
  background: #e7e7e7;
  outline: none;
  color: #000000;
}
.hype .list-tap > li.active .icon, .hype .list-tap > li:hover .icon{
  -moz-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
.map-option{
  height: 50px;
  line-height: 50px;
}
.map-option li{
  line-height: 20px;
  padding: 5px;
  cursor: pointer;
  transition: all 0.3s;
  text-transform: capitalize;
}
.map-option li:hover{
  background: deepskyblue;
}
.map-option input{
  margin-top: 8px;
}

.nav>li {
  margin-left: 10px;
}

.hype-nav>li i {
  margin-top: 8px;
}

button.btn>i {
  margin: 0;
}
.notif-bag {
  position: relative;
}

i#notif {
  margin-top: -2px;
}

#count-notif {
  position: absolute;
  top: 11px;
  right: 9px;
  border-radius: 50%;
  width: 22px;
  height: 22px;
  background-color: red;
  text-align: center;
  color: white;
  border: solid 2px;
  font-size: small;
}

.nav-search {
  margin-top: 12px;

}
.nav-search>input {
  position: absolute;
  padding-left: 20px;
}

.nav-search>i {
  position: absolute;
  width: 300px;
}

@media (max-width: 991px) {
  .navbar-header {
    float: none;
  }
  .navbar-toggle {
    display: block;
  }

  .navbar-collapse {
    border-top: 1px solid transparent;
    box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
  }
  .navbar-collapse.collapse {
    display: none!important;
  }
  .navbar-nav {
    float: none!important;
    margin: 7.5px -15px;
  }
  .navbar-nav>li {
    float: none;
  }
  .navbar-nav>li>a {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .navbar-text {
    float: none;
    margin: 15px 0;
  }
  /* since 3.1.0 */
  .navbar-collapse.collapse.in {
    display: block!important;
  }
  .collapsing {
    overflow: hidden!important;
  }
}
