<app-navbar></app-navbar>
<div id="wrapper" class="wrapper">
  <div id="root-container" class="box container" #rootContainer>
    <div class="row row-offcanvas row-offcanvas-left frame-main">
      <angular-loader></angular-loader>
      <div class="column col-sm-2 frame_nav"id="left">
        <div class="left-nav-content">
          <aside class="sidebar">
            <ul class="navbar-collapse list-tap" [class.userMenu]="user" >
              <li [routerLink]="['./home']" [class.active]="eventActive">
                <i class="left-nav-trending-events"><img src="/assets/icon/left-nav-trending-events.png"/> </i>
                <span class="hidden-xs hidden-sm">Trending Events</span>
              </li>
              <li [routerLink]="['./discover/eat']" [class.active]="discoverEatActive">
                <i class="left-nav-eat"><img src="/assets/icon/left-nav-eat.png"/></i>
                <span class="hidden-xs hidden-sm">Eat</span>
              </li>
              <li [routerLink]="['./discover/play']" [class.active]="discoverPlayActive">
                <i class="left-nav-play"><img src="/assets/icon/left-nav-play.png"/></i>
                <span class="hidden-xs hidden-sm">Play</span>
              </li>
              <li [routerLink]="['/guides']" [class.active]="guidesActive">
                <i class="left-nav-curated"><img src="/assets/icon/left-nav-curated.png"/></i>
                <span class="hidden-xs hidden-sm">Guides</span>
              </li>
              <li [routerLink]="['/'+user?.slug+'/favorite']"
                  routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                <i class="left-nav-favorites"><img src="/assets/icon/left-nav-favorites.png"/></i>
                <span class="hidden-xs hidden-sm">Favorites</span>
              </li>
            </ul>
          </aside>
        </div>
      </div>
      <router-outlet class="content"></router-outlet>

    </div>
  </div>

  <footer>
    <p></p>
  </footer>
</div>


