
/*header start*/

.new-list {
    padding: 0px;
    /*width: 100%;*/
}
.clearfix {
    clear: both;
}
header {
    background: transparent;
    border-bottom: 1px solid #eaeaea;
    padding: 6px 0px;
}
header ul {
    background: transparent;
    padding: 0px;
}
header ul li {
    margin-left: 40px;
    font-size: 14px;
    width: 6%;
    min-width: 70px;
    opacity: 0.5;
    line-height: 40px;
    text-align: center;
    color: #3b3b3b;
    text-transform: capitalize;
}
header ul li.active {
    font-weight: bold;
    color: #2a6be1;
    opacity: 1;
}
header ul li.pull-right {
    width: 9%;
}

/*header end*/

/*input box start*/
.input-box {
    padding: 0px 40px 20px;
    border-right: 1px solid #eaeaea;
}
.image-box {
    padding: 16px 30px;
}
.input-box h3 {
    font-size: 30px;
    font-weight: bold;
}
.input-box > small {
    font-size: 14px;
    line-height: 50px;
    display: block;
    margin-bottom: 15px;
    font-weight: 300;
    text-align: left;
    color: #3b3b3b;
}
.input-box .form-group label {
    font-weight: bold;
    margin-bottom: 16px;
    font-size: 16px;
    line-height: 1.63;
    text-align: left;
    color: #3b3b3b;
}
.input-box .form-group label i {
    color: #ec3d62;
    font-size: 10px;
    position: relative;
    bottom: 2px;
    left: 4px;
}
.input-box .form-group input {
    background-color: #e8e8e8;
    box-shadow: inset 1px 1px 3px 0 rgba(183, 183, 183, 0.5);
    width: 100%;
    height: 48px;
    border-radius: 4px;
    border: none;
}
.input-box .form-group small {
    font-size: 14px;
    display: block;
    margin: 20px 0px;
}
.input-box .form-group textarea {
    width: 100%;
    height: 150px;
    border-radius: 4px;
    background-color: #e8e8e8;
    box-shadow: inset 1px 1px 3px 0 rgba(183, 183, 183, 0.5);
    padding: 14px;
}
.input-box .form-group select {
    width: 100%;
    height: 48px;
    border-radius: 4px;
    background-color: #e8e8e8;
    box-shadow: inset 1px 1px 3px 0 rgba(183, 183, 183, 0.5);
    color: #a29d9d;
    font-size: 14px;
}
.list-img-box {
    margin-top: 30px;
  overflow: hidden;
}
.form-actions button {
    width: 24%;
    height: 34px;
    object-fit: contain;
    background: #5052ea;
    color: white;
    border: none;
    text-shadow: none;
    box-shadow: none;
    font-size: 14px;
}
.form-actions button:first-child {
    margin-right: 15px;
    background: #2a6be0;
}

/*input box end*/

/*image box start*/

.image-box .panel:first-child {
    margin-top: 0px;
}
.image-box .panel {
    border: none;
    box-shadow: none;
}
.image-box .panel .panel-heading {
    background: transparent;
    font-size: 26px;
    position: relative;
}
.image-box .panel .panel-heading span.glyphicon {
    font-size: 16px;
    color: #e8e8e8;
}
.image-box .panel .panel-heading span.title-number-item {
    font-size: 26px;
    font-weight: bold;
    line-height: 1.31;
    text-align: left;
    color: #3b3b3b;
}
.image-box .panel .panel-body {
    padding: 10px 0px;
}
.image-box .form-group  {
    margin-left: 16px;
}
.image-box .form-group button {
    width: 100%;
    height: 34px;
    object-fit: contain;
    background: #2a6be0;
    border: none;
    text-shadow: none;
    box-shadow: none;
    font-size: 14px;
    line-height: 1;
    text-align: center;
    color: #fff;
}
.image-box .form-group button i {
    color: #fff;
    font-size: 11px;
}

/*image box end*/



/*preview start*/

.slimScrollDiv > div {
    padding: 0px;
}
.carousel-box {
    border-bottom: 1px solid rgba(205, 205, 205, 0.5);
}
.carousel-header {
    margin-bottom: 25px;
    margin-right: 10px;
}
.carousel-header i  {
    cursor: pointer;
    font-size: 25px;
    margin: 4% 0 0 3%;
    float: left;
    text-transform: capitalize;
}
.carousel-header strong {
    font-size: 26px;
    font-weight: bold;
    line-height: 35px;
    text-align: left;
    color: #3b3b3b;
    display: block;
    padding-left: 8%;
    cursor: pointer;
    padding-top: 3%;
}

.description {
    margin: 20px 40px;
}
.description p {
    font-size: 14px;
    font-weight: 300;
    line-height: 25px;
    text-align: left;
    color: #3b3b3b;
}


.place-item-wrap {
    border-bottom: 1px solid rgba(205, 205, 205, 0.5);
}
.place-item-header {
    padding: 20px;
    height: auto;
}
.place-item-header strong.place-index {
    height: 50px;
    width: 50px;
    background: #5052ea;
    line-height: 50px;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    color: #fff;
    border: none;
    border-radius: 50%;
    margin-top: 1%;
}
.place-item-header strong.place-name {
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: keep-all;
    padding: 0px 20px;
    font-size: 26px;
    font-weight: bold;
    line-height: 30px;
    text-align: left;
    color: #3b3b3b;
    float: left;
    width: 80%;
}
.place-item-header span.place-detail-btn {
    border: none;
    text-transform: capitalize;
    text-align: right;
    padding: 8px 0px;
    font-size: 16px;
    line-height: 30px;
    display: block;
}
.place-item-description  {
    font-size: 14px;
    font-weight: 300;
    line-height: 1.43;
    text-align: left;
    color: #3b3b3b;
    margin: 20px 40px;
}

/*preview end*/

.captcha{
  clear: both;
}


@media only screen and (min-width: 320px) and (max-width: 374px) {
  header ul li {
    margin-left: 10px;
  }
  .input-box h3{
    font-size: 24px;
  }
  .new-list .form-wrap{
    padding: 5px 10px;
    margin-bottom: 50px;
  }

  .new-list .input-box{ border-right: 0}

  .form-actions button{
      width: 100px;
  }

  .image-box .form-group{
    margin-left: 0;
  }

  #hScroll{
    height: auto!important;
    margin-right: 0px!important;
  }

  .list-box{
    width: 100%;
  }
}
@media only screen and (min-width: 375px) and (max-width: 543px) {
  header ul li {
    margin-left: 10px;
  }
  .input-box h3{
    font-size: 24px;
  }

  .new-list .form-wrap{
    padding: 5px 10px;
    margin-bottom: 50px;
  }

  .new-list .input-box{ border-right: 0}

  .form-actions button{
    width: 150px;
  }

  .image-box .form-group{
    margin-left: 0;
  }

  #hScroll{
    height: auto!important;
    margin-right: 0px!important;
  }
  .list-box{
    width: 100%;
  }
}
@media only screen and (min-width: 545px) and (max-width: 767px) {

}
