<article class="row new-list">
  <!--header start-->
  <header>
    <ul>
      <li class="internal-link" (click)="switchView(false)" [class.active]="!showPreview">List Info</li>
      <li class="internal-link" (click)="switchView(true)" [class.active]="showPreview">Preview</li>
      <li class="pull-right" *ngIf="showPreview"><a class="btn btn-success" (click)="onSubmit()">Publish this</a></li>
    </ul>
  </header>
  <!--header end-->

  <!--form wrap start-->
  <div class="form-wrap" [class.hide]="showPreview">

    <form [formGroup]="formData" (ngSubmit)="onSubmit()">

      <div class="input-box col-xs-12 col-md-6">
        <h3>create a list</h3>
        <small>A list is a write-up with places or activities tagged to it</small>
        <div class="form-group">
          <label class="control-label" for="list-name">List Name</label>
          <input formControlName="listName" id="list-name" class="form-control" type="text"
                 placeholder="E.g Top Ten Things To Do In Punggol This Weekend">
          <small [hidden]="formData.controls.listName.valid" class="text-danger">This field is required</small>
        </div>
        <div class="form-group">
          <label class="control-label" for="list-description">What is your list about? Tell us your story</label>
          <textarea placeholder="What is your list about?" formControlName="listDescription" id="list-description"
                    class="form-control"></textarea>
        </div>
        <div class="form-group">
          <label class="control-label" for="list-category">Category</label>
          <select aria-placeholder="abc" class="form-control" name="" id="list-category" formControlName="listCategory">
            <option value="" selected="selected">Select a category</option>
            <option *ngFor="let cat of categories" [value]="cat.id">{{cat.name}}</option>
          </select>
        </div>
        <div class="form-group list-img-box">
          <label class="control-label">Images</label>
          <label class="control-label " id="list-img-label" for="listImg">
            <i class="fa fa-plus"></i>
            &nbsp;Add images
            <input class="form-control col-xs-12" id="listImg" formControlName="listImages" type='file'
                   (change)="readUrl($event)" multiple="multiple">
          </label>
          <div class="list-img-wrap">
            <div *ngFor="let img of previewUrl" class="preview-wrap">
              <img [src]="img"/>
              <a class="fa fa-times delete-btn" (click)="onRemovePreview(img)"></a>
            </div>
          </div>
        </div>
        <div class="form-actions clearfix">
          <button type="submit" class="btn btn-primary">Create</button>
          <button type="button" class="btn btn-success" (click)="onPreview()">Preview</button>
        </div>
      </div>

      <div class="image-box col-xs-12 col-md-6">
        <div formArrayName="listPlaces">
          <div class="panel panel-default" *ngFor="let place of formData.controls.listPlaces.controls; let i=index">
            <div class="panel-heading">
              <span># {{i + 1}}</span>
              <span class="glyphicon glyphicon-remove pull-right"
                    *ngIf="formData.controls.listPlaces.controls.length > 1" (click)="removeAddress(i)">
              </span>
            </div>
            <div class="panel-body" [formGroupName]="i">
              <app-gmap-auto-place [group]="formData.controls.listPlaces.controls[i]" [description]="true"
                                   [image]="true">
              </app-gmap-auto-place>
            </div>
          </div>
        </div>
        <div class="form-group">
          <button type="button" class="btn btn-success" (click)="onAddPlace()">
            <i class="fa fa-plus"></i>&nbsp;Add Item
          </button>
        </div>
      </div>

      <!--<div class="form-actions col-xs-12 col-md-12">
        <button type="submit" class="btn btn-primary">Create</button>
        <button type="button" class="btn btn-success" (click)="onPreview()">Preview</button>
      </div>-->

    </form>

  </div>
  <!--form wrap end-->

  <!--list preview wrap start-->
  <div class="list-preview-wrap" [class.hide]="!showPreview" *ngIf="appState.state.userDraftList">
    <div class="col-xs-12 list-box" (scroll)="onScroll($event)" id="hScroll">
      <div class="carousel-box" id="preview-carousel">
        <div class="carousel-header">
          <strong>{{appState.state.userDraftList.info.listName}}</strong>
        </div>
        <div *ngIf="slides" class="carousel">
          <app-boostrap-carousel [interval]="NextPhotoInterval" [noWrap]="noLoopSlides"
                                 [noPause]="noPause"
                                 [noTransition]="noTransition">
            <app-slide-carousel *ngFor="let slide of slides; let index=index">
                <img [src]="slide.image">
            </app-slide-carousel>
          </app-boostrap-carousel>
        </div>
        <div class="description text-justify">
          <p>{{appState.state.userDraftList.info.listDescription}}</p>
        </div>
      </div>
      <div *ngFor="let plc of appState.state.userDraftList.info.listPlaces; let index=index" class="place-item-wrap"
           [id]="'place-'+index">
        <div class="place-item-header"><strong class="pull-left place-index">#{{index+1}}</strong><strong
            class="place-name">{{plc.place}}</strong>
          <span
              class="pull-right place-detail-btn">details</span>
        </div>
        <div class="place-item-img">
          <img [src]="plc.image" [alt]="plc.place" width="100%">
        </div>
        <p class="place-item-description">{{plc.description}}</p>
      </div>
    </div>
    <div class="col-xs-12 map-box">
      <sebm-google-map [latitude]="lat" [longitude]="lng" [zoom]="zoom">
        <app-custom-marker *ngFor="let marker of markers; let index=index" [marker]="marker" [index]="index"
                           (onClick)="markerClick($event)" [hasLabel]="true">
        </app-custom-marker>
      </sebm-google-map>
    </div>
  </div>
  <!--list preview wrap end-->

</article>