<article class="row new-list">
  <header>
    <ul>
      <li class="internal-link" (click)="switchView()" [class.active]="!showPreview">List Info</li>
      <li class="internal-link" (click)="switchView()" [class.active]="showPreview">Preview</li>
    </ul>
  </header>
  <div class="form-wrap" [class.hide]="showPreview">
    <form class="" [formGroup]="listFormData" (ngSubmit)="onSubmit()">
      <div class="input-box col-xs-12 col-md-6">
        <h3 class="">create a list</h3>
        <small>A list is a write-up with places or activities tagged to it</small>
        <div class="form-group">
          <label class="control-label" for="list-name">List Name</label>
          <input formControlName="listName" id="list-name" class="form-control" type="text">
          <small [hidden]="listFormData.controls.listName.valid" class="text-danger">This field is required</small>
        </div>
        <div class="form-group">
          <label class="control-label" for="list-description">What is your list about? Tell us your story</label>
          <textarea formControlName="listDescription" id="list-description" class="form-control"></textarea>
        </div>
        <div class="form-group">
          <label class="control-label" for="list-category">Category</label>
          <select class="form-control" name="" id="list-category" formControlName="listCategory">
            <option value="" selected="selected">Select a category</option>
            <option *ngFor="let cat of categories" [value]="cat.id">{{cat.name}}</option>
          </select>
        </div>
        <div class="form-group list-img-box">
          <label class="control-label">Images</label>
          <label class="control-label " id="list-img-label" for="listImg">
            <i class="fa fa-plus"></i>&nbsp;Add images
            <input class="form-control col-xs-12" id="listImg" formControlName="listImages" type='file'
                   (change)="readUrl($event)" multiple="multiple">
          </label>
          <div class="list-img-wrap">
            <div *ngFor="let img of previewUrl" class="preview-wrap">
              <img [src]="img"/>
              <a class="fa fa-times delete-btn" (click)="onRemovePreview(img)"></a>
            </div>
          </div>
        </div>
      </div>
      <div class="image-box col-xs-12 col-md-6">
        <div formArrayName="listPlaces">
          <div *ngFor="let place of listFormData.controls.listPlaces.controls; let i=index" class="panel panel-default">
            <div class="panel-heading">
              <span># {{i + 1}}</span>
              <span class="glyphicon glyphicon-remove pull-right"
                    *ngIf="listFormData.controls.listPlaces.controls.length > 1" (click)="removeAddress(i)">
              </span>
            </div>
            <div class="panel-body" [formGroupName]="i">
              <app-gmap-auto-place [group]="listFormData.controls.listPlaces.controls[i]" [description]="true"
                                   [image]="true"></app-gmap-auto-place>
            </div>
          </div>
        </div>
        <div class="form-group">
          <button type="button" class="btn btn-success" (click)="onAddPlace()">
            <i class="fa fa-plus"></i>&nbsp;Add Item
          </button>
        </div>
      </div>
      <div class="form-actions col-xs-12 col-md-12">
        <button type="submit" class="btn btn-primary">Create</button>
        <button type="button" class="btn btn-success" (click)="onPreview()">Preview</button>
      </div>
    </form>
  </div>

  <div class="list-preview-wrap" [class.hide]="!showPreview" *ngIf="appState.state.userDraftList">
    <div class="col-xs-12 list-box">
      <div class="carousel-box">
        <div class="carousel-header">
          <strong>{{appState.state.userDraftList.infor.listName}}</strong>
        </div>
        <div class="carousel">
          <carousel [interval]="NextPhotoInterval" [noWrap]="noLoopSlides" [noTransition]="noTransition"
                    [carouselSlides]="slides">
            <slide *ngFor="let slide of slides; let index=index"
                   [active]="slide.active">
              <img [src]="slide.image" style="margin:auto;">
            </slide>
          </carousel>
        </div>
        <div class="description text-justify">
          <p>{{appState.state.userDraftList.infor.listDescription}}</p>
        </div>
      </div>
      <div *ngFor="let plc of appState.state.userDraftList.infor.listPlaces; let index=index" class="place-item-wrap ">
        <div class="place-item-header"><strong class="pull-left place-index">#{{index}}</strong>{{plc.place}}<strong class="pull-right place-detail-btn">details</strong></div>
        <div class="place-item-img">
          <img [src]="plc.image" [alt]="plc.place" width="100%">
        </div>
        <p class="place-item-description">{{plc.description}}</p>
      </div>
    </div>
    <div class="col-xs-12 map-box">
      <sebm-google-map [latitude]="1.290270" [longitude]="103.851959" [zoom]="12">
        <gmap-cluster [markers]="markers"></gmap-cluster>
      </sebm-google-map>
    </div>
  </div>
</article>
