.new-list{
    padding: 15px;
    display: block;
    min-height: 1px;
    width: 100%;
}
.new-list header ul li{
    display: inline-block;
    cursor: pointer;
    width: 150px;
    height: 40px;
    line-height: 40px;
}
.new-list header ul{
    margin: 0;
    background-image: -webkit-linear-gradient(top,#f5f5f5 0,#e8e8e8 100%);
    background-image: -o-linear-gradient(top,#f5f5f5 0,#e8e8e8 100%);
    background-image: -webkit-gradient(linear,left top,left bottom,from(#f5f5f5),to(#e8e8e8));
    background-image: linear-gradient(to bottom,#f5f5f5 0,#e8e8e8 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff5f5f5', endColorstr='#ffe8e8e8', GradientType=0);
    background-repeat: repeat-x;
}
.new-list .form-actions{
    margin-top: 15px;
}
.preview-wrap .delete-btn:hover{
    text-decoration: none;
}
.preview-wrap .delete-btn{
    top: 3px;
    right: 5px;
    position: absolute;
    background: #64b5f6;
    width: 20px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    cursor: pointer;
    color: white;
}
.preview-wrap img{
    width: calc(100% - 3px);
    padding: 3px;
}
.preview-wrap{
    float: left;
    width: calc(100% / 3);
    position: relative;
    margin:0;
}
#list-img-label{
    background: url('../../assets/icon/icon-camera-128.png') no-repeat center left;
    min-height: 60px;
    min-width: 60px;
    margin: 15px;
    cursor: pointer;
    background-size: 100% 100%;
    position: absolute;
}
#listImg{
    display: none;
}
.list-img-box{
    position: relative;
    min-height: 80px;
}
.new-list .image-box .panel:first-child{
    margin-top: 50px;
}
.input-box > h3{
    text-transform: capitalize;
}