<div class="row">
  <div class="col-md-7">
    <div class="event-title">
      <img src="../../../assets/icon/icon-left/icon-left.png"
           srcset="../../../assets/icon/icon-left/icon-left@2x.png 2x,
             ../../../assets/icon/icon-left/icon-left@3x.png 3x"
           class="icon_left">
      <span class="event-name">{{name}}</span>
    </div>

    <hr>

    <div class="row">
      <div class="col-md-3">
        <p>Location</p>
        <p>Date / Time</p>
        <p>Price Range</p>
        <p>Mentioned by</p>
      </div>
      <div class="col-md-6">
        <p class="event-place">{{location.name}}</p>
        <p>{{date}}</p>
        <p>{{price}} <span> <a href="{{call2action.link}}">{{call2action.action}}</a></span></p>
        <p>
          <span *ngFor="let mention of mentions">
            <img [src]="mention.iconUrl">
          </span>
        </p>
      </div>
      <div class="col-md-3 align-center">
        <p>CREATED BY</p>
        <img class="user-avatar" [src]="creator.avatar">
        <p>{{creator.firstName + ' ' + creator.lastName}}</p>
        <p>{{rating + '/5'}}</p>
      </div>
    </div>

    <hr>

    <div>
      <h5 class="bold">Details</h5>
      <p>{{detail}}</p>
    </div>

    <hr>

    <div class="row">
      <div class="col-md-6">
        <h5 class="bold">Experiences ({{experiences.length}})</h5>
      </div>
      <div class="col-md-6">
        <h5 class="bold">Post your experience</h5>
      </div>
    </div>

    <event-experience
      *ngFor="let experience of experiences; let index=index"
      [experience]="experience">
    </event-experience>

    <div>

      <div class="row comment">
        <div class="col-md-2">
          <img class="user-avatar" [src]="user.avatar">
        </div>
        <div class="col-md-4">
          <i fa [name]="'star-o'" [size]=2></i>
          <i fa [name]="'star-o'" [size]=2></i>
          <i fa [name]="'star-o'" [size]=2></i>
          <i fa [name]="'star-o'" [size]=2></i>
          <i fa [name]="'star-o'" [size]=2></i>
        </div>

        <p>
          <textarea style="min-width: 90%; min-height: 150px" placeholder="What's your experience here?"></textarea>
        </p>
        <p>
          <a>+ Add Images</a>
        </p>
      </div>

    </div>

  </div>

  <div class="col-md-5">

    <div class="row">
      <carousel [interval]="NextPhotoInterval" [noWrap]="noLoopSlides" [noTransition]="noTransition"
                [carouselSlides]="slides">
        <slide *ngFor="let slide of slides; let index=index"
               [active]="slide.active">
          <img [src]="slide.image" style="margin:auto;">
        </slide>
      </carousel>
    </div>

    <div class="event-location">
      <p>Location</p>
      <sebm-google-map [latitude]="location.lat" [longitude]="location.lng" [zoom]="13">
        <sebm-google-map-marker [latitude]="location.lat"
                                [longitude]="location.lng">
        </sebm-google-map-marker>
      </sebm-google-map>
    </div>

  </div>

</div>
