<div class="row">
  <div class="col-md-7">
    <div class="event-title">
      <img src="../../../assets/icon/icon-left/icon-left.png"
           srcset="../../../assets/icon/icon-left/icon-left@2x.png 2x,
             ../../../assets/icon/icon-left/icon-left@3x.png 3x"
           class="icon_left">
      <span class="One-Direction-Concer"> One Direction Concert in Singapore </span>
    </div>

    <hr>

    <div class="row">
      <div class="col-md-1 align-center">
        <p><i fa [name]="'map-marker'" [size]=1></i></p>
        <p><i fa [name]="'calendar'" [size]=1></i></p>
        <p><i fa [name]="'tag'" [size]=1></i></p>
        <p><i fa [name]="'ticket'" [size]=1></i></p>
      </div>
      <div class="col-md-8">
        <p class="event-place"> Singapore Indoor </p>
        <p>1st April 2017</p>
        <p>$$$</p>
        <p>Buy Tickets</p>
      </div>
      <div class="col-md-3 align-center">
        <p>CREATED BY</p>
        <i fa [name]="'user-circle-o'" [size]=4></i>
      </div>
    </div>

    <hr>

    <div>
      <h5 class="bold">MENTIONED BY</h5>
      <i fa [name]="'square-o'" [size]=4></i>
      <i fa [name]="'square-o'" [size]=4></i>
      <i fa [name]="'square-o'" [size]=4></i>
      <i fa [name]="'square-o'" [size]=4></i>
    </div>

    <hr>

    <div>
      <h5 class="bold">DETAILS</h5>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
        magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
        pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est
        laborum
      </p>
    </div>

    <hr>

    <div>
      <h5 class="bold">POST YOUR EXPERIENCE</h5>
      <p>
        <i fa [name]="'star-o'" [size]=1></i>
        <i fa [name]="'star-o'" [size]=1></i>
        <i fa [name]="'star-o'" [size]=1></i>
        <i fa [name]="'star-o'" [size]=1></i>
        <i fa [name]="'star-o'" [size]=1></i>
      </p>
      <p>
        <textarea style="min-width: 90%" placeholder="What's your experience here?">
          this is a text
        </textarea>
      </p>
      <p>
        <i fa [name]="'camera'" [size]=4></i>
      </p>
    </div>

    <hr>

    <div>
      <h5 class="bold">EXPERIENCES (2)</h5>
      <div class="row">
        <div class="col-md-2">
          <i fa [name]="'user-circle-o'" [size]=3></i>
        </div>
        <div class="col-md-6">
          <p>
            Derek Ang
          </p>
          <div>
            <div>4th April</div>
            <div>2017</div>
          </div>
        </div>
        <div class="col-md-4">
          <i fa [name]="'star'" [size]=1></i>
          <i fa [name]="'star'" [size]=1></i>
          <i fa [name]="'star'" [size]=1></i>
          <i fa [name]="'star'" [size]=1></i>
          <i fa [name]="'star-o'" [size]=1></i>
        </div>
      </div>
      <div>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
          magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
          consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
          pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id
          est
          laborum
        </p>
      </div>
      <div>
        <i fa [name]="'image'" [size]=5></i>
        <i fa [name]="'image'" [size]=5></i>
        <i fa [name]="'image'" [size]=5></i>
        <i fa [name]="'image'" [size]=5></i>
        <i fa [name]="'image'" [size]=5></i>
      </div>

      <div class="row">
        <div class="col-md-2">
          <i fa [name]="'thumbs-o-up'" [size]=1></i> 6 Likes
        </div>
        <div class="col-md-8">
          <i fa [name]="'comment-o'" [size]=1></i> Comment
        </div>
        <div class="col-md-2 align-right">
          Report
        </div>
      </div>

      <hr>

      <div class="row comment">
        <div class="col-md-1">
          <i fa [name]="'user-circle-o'" [size]=2></i>
        </div>
        <textarea class="col-md-10" placeholder="Write your comment"></textarea>
      </div>
      <div class="row comment">
        <div class="col-md-1">
          <i fa [name]="'user-circle-o'" [size]=2></i>
        </div>
        <div class="col-md-9">
          <span style="font-weight: bold">HK Lim</span>
          I was there too. Awesome concert ever...
        </div>
      </div>

      <p class="align-right">View All Comments</p>

    </div>

  </div>

  <div class="col-md-5">
    <div class="row">
      <carousel [interval]="NextPhotoInterval" [noWrap]="noLoopSlides" [images]="images">
        <slide *ngFor="let image of images; let index=index"
               [active]="image.active">
          <img [src]="image.image" style="margin:auto;">
        </slide>
      </carousel>
    </div>

    <div class="event-location">
      <p>Location</p>
      <sebm-google-map [latitude]="lat" [longitude]="lng" [zoom]="13">
        <sebm-google-map-marker [latitude]="lat" [longitude]="lng"></sebm-google-map-marker>
      </sebm-google-map>

    </div>

  </div>
</div>
