.wrap-each-items {
    /*border-bottom: 1px solid #eaeaea;*/
    width: 100%;
    height: 180px;
    padding: 20px;
}
.cover-avatar-picture {
    width: 140px;
    height: 140px;
    background: #070707;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.6;
}
.avatar-profile {
    width: 140px;
    height: 140px;
    background: #ccc;
    float: left;
    margin-right: 16px;
    position: relative;
    border-radius: 4px;
    overflow-x: hidden;
}
.month {
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 16px;
    color: #fff;
}
.date-number {
    position: absolute;
    top: 30px;
    left: 10px;
    font-size: 26px;
    font-weight: bold;
    color: #fff;
}
.heart {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 22px;
    font-weight: bold;
}

.information-title{
    margin-top: 10px;
    font-weight: bold;
    font-size: 18px;
    height: 18px;
    line-height: 18px;
    margin-bottom: 14px;
}
.information-title .real-title{
    font-size: 18px;
}
.information-title .real-title, .detail-information{
    width: calc(100% - 65px);
}
.detail-information {
    font-size: 14px;
    height: 40px;
    line-height: 20px;
    overflow: hidden;
    margin-bottom: 18px;
}
.information-profile {
    width: calc(100% - 160px);
    float: left;
    position: relative;
}
.mentioned-item-wrap img{
    width: 28px;
    height: 28px;
}
.mentioned  {
    float: left;
    text-transform: capitalize;
    margin-top: 0;
    font-size: 14px;
    width: 100px;
    line-height: 40px;
    color: #3b3b3b;
}
ul.mentioned-item {
    padding-left: 25%;
}
.mentioned-item li:hover {
    border: 1px solid rgba(236, 61, 98, 0.5);
}
.mentioned-item li {
    list-style: none;
    background: transparent;
    float: left;
    margin-right: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    padding: 5px;
    border-radius: 7px;
}
.free-price-button {
    height: 14px;
    font-size: 14px;
    font-weight: bold;
    line-height: 1.5;
    text-align: right;
    color: #5052ea;
}
.free-price-button.free-price {
    opacity: 0.5;
    color: #3b3b3b;
    font-weight: 500;
}
.number-price-button {
    position: absolute;
    top: -3%;
    right: -3%;
    border: none;
    padding: 5px 12px;
    border-radius: 8px;
    text-transform: capitalize;
    color: #5052ea;
    font-weight: bold;
    font-size: 14px;
}
.heart{
    cursor: pointer;
}

.list-item {
    float: left;
    height: 300px;
    opacity: 0.6;
    background-image: linear-gradient(145deg, #0e0f63, #5052ea);
    position: relative;
    width: 100%;
    margin-top: 15px;
}

.list-item .caption {
    width: 361px;
    height: 84px;
    font-family: Roboto;
    font-size: 30px;
    font-weight: bold;
    line-height: 1.4;
    text-align: left;
    color: #ffffff;
    position: absolute;
    top: 25%;
    left: 20%;
}
.list-item .caption .list-item-link{
    font-size: 16px;
    line-height: 1.5;
    text-align: left;
    color: #ffffff;
}