<section class="column col-sm-10 no-padding " [style.width]="innerWidth > 1023 ? layoutWidth + 'px' : ''" *ngIf="ready">
  <div class="col-lg-12 col-xs-12 left-box table-cell">
    <div class="top-content">
      <ul *ngIf="categories" class="list-category">

        <li class="dropdown"
            *ngFor="let category of categories"
            [class.active]="category.alias === '/guides/' + slugName">

          <a class="title-hover" [routerLink]="category.alias">{{category.name}}</a>

          <ul *ngIf="category.children.length" class="dropdown-menu sub-menu" aria-labelledby="dLabel">
            <li *ngFor="let child_category of category.children" class="dropdown">

              <a [routerLink]="child_category.alias">{{child_category.name}}</a>

              <ul *ngIf="child_category.children.length" class="dropdown-menu sub-menu" aria-labelledby="dLabel">
                <li *ngFor="let grand_child_category of child_category.children">
                  <a [routerLink]="grand_child_category.alias">{{grand_child_category.name}}</a>
                </li>
              </ul>

            </li>
          </ul>
        </li>
      </ul>
      <div class="clearfix"></div>
    </div>

    <div class="primary-content">

      <!--Tittle and description-->
      <div class="row padding-15px align-center">

        <div class="inner-content col-md-10">
          <div class="icon-left col-md-2 margin-top-30px">
            <img [src]="articlesCategory.image" class="category-image" alt="">
          </div>

          <div class="col-md-10" [innerHTML]="articlesCategory.description">
          </div>
        </div>

      </div>

      <!--Articles items-->
      <div class="row padding-top-20px">
        <div *ngFor="let article of articlesCategory.articles"
             class="col-xs-12 col-md-6 col-lg-3 height-420px">
          <div style="overflow: hidden; text-align: center">
            <div class="image-post-news" [routerLink]="[article.slug]">
              <img class="post-content-img" [src]="article.field_images[0]" [alt]="article.title">
            </div>
          </div>
          <div class="new-info">
            <h4 class="post-title-content">
              <a class="title-hover" [routerLink]="[article.slug]">
                {{article.title | truncate : 60}}
              </a>
            </h4>
            <p class="post-author">
              By: <span class="auth-name">{{article.author.name}}</span>
              <span class="time-post">{{article.created | amFromUnix | amTimeAgo}}</span>
            </p>
            <p class="content-post-news">
              {{article.body | myHtml2Text | truncate : 60}}
            </p>
          </div>
          <div class="clear"></div>
        </div>
        <div class="row align-center padding-15px" *ngIf="!loadingArticles && !noMoreArticles">
          <button class="btn btn-primary" (click)="showMoreArticles()">Show More</button>
        </div>
        <app-small-loader></app-small-loader>
        <div class="mobile-footer"></div>

      </div>

      <!---->
      <h4 class="head">You may also be interested in these</h4>
      <div class="align-center padding-10px">

        <div class="content-wrap col-md-10 col-xs-12">

          <div class="col-xs-12 box-wrap box-shadow float-left">

            <div class="border-bottom padding-10px">
              <i class="fa fa-map-marker font-size-17px float-left margin-right-8px" aria-hidden="true"></i>
              <p class="margin-0 margin-left-15px font-size-15px">Places</p>
            </div>

            <!--place item-->
            <div *ngFor="let place of places" class="row margin-0 padding-10px border-bottom place-item">
              <div class="col-xs-4 col-md-3 padding-0">
                <app-place-image [routerLink]="['/company', place.slugName]" [name]="place.name" [width]="100"
                                 [height]="100" [licenseNumber]="place.licenseNumber">
                </app-place-image>
              </div>
              <div class="col-xs-8 col-md-9 place-description">
                <div>
                  <a class="title-hover" [routerLink]="place.slugName">
                    <h5 class="margin-0 custom-text-ellipsis-title">{{place.name}}</h5>
                  </a>
                </div>
                <div class="light-colored-text font-size-12px">
                  {{place.description | myHtml2Text | truncate:60}}
                </div>
                <div class="rating-star">
                  <rating [ngModel]="place.rating" [float]="true" [readonly]="true" emptyIcon="★"></rating>
                </div>
              </div>
              <div *ngIf="CTC" class="col-xs-2 col-md-2 padding-0">
                <button class="btn btn-default custom-btn">Book Now</button>
              </div>
            </div>
            <!--place-item end-->

          </div>

          <div class="col-xs-12 box-wrap box-shadow float-left margin-left-15px">

            <div class="border-bottom padding-10px">
              <i class="fa fa-calendar font-size-17px float-left margin-right-8px" aria-hidden="true"></i>
              <p class="margin-0 font-size-15px">Events</p>
            </div>

            <!--event item-->
            <div *ngFor="let event of events" class="row margin-0 padding-10px border-bottom event-item">
              <div class="col-xs-3 col-md-3 padding-0">
                <a class="avatar-picture">
                  <img [src]="event.images[0].url" width="100">
                </a>
              </div>
              <div class="col-xs-7 col-md-7 event-description">
                <div>
                  <a class="title-hover" [routerLink]="event.slug">
                    <h5 class="margin-0 custom-text-ellipsis-title">{{event.name}}</h5>
                  </a>
                </div>
                <div class="light-colored-text text-ellipsis font-size-12px">
                  {{event.detail | myHtml2Text | truncate: 60}}
                </div>
                <div class="light-colored-text font-size-12px">
                  {{event.startDate | amFromUnix | date:'dd MMMM y hh:mma'}}
                </div>
              </div>
              <div class="col-xs-2 col-md-2 padding-0" *ngIf="event.call2action.link">
                <a class="btn btn-default custom-btn" target="_blank" [href]="event.call2action.link">{{event.call2action.action}}</a>
              </div>
            </div>
            <!--event-item end-->

          </div>

        </div>
      </div>

    </div>
    <!--primary content end-->
  </div>

</section>
