<div class="setting-wrap table-wrap">
  <div class="col-xs-12 col-md-4 col-lg-3 col-left table-cell">
    <app-member-navigation *ngIf="userInfo" [data]="userInfo" [slugName]="slugName"></app-member-navigation>
  </div>
  <div class="col-xs-12 col-md-8 col-lg-9 col-right table-cell">
    <section class="form-wrap">
      <h3 class="col-xs-12 setting-title">Your Interests</h3>
      <div class="col-xs-12">
        <app-boostrap-alert *ngIf="msgContent" [type]="alertType" [content]="msgContent"></app-boostrap-alert>
      </div>
      <div *ngIf="interests" class="col-xs-12">
        <div *ngFor="let interest of interests" class="col-lg-2 col-md-3 col-sm-4 col-xs-6 interest-item-wrap">
          <app-interest-item [item] = "interest" ></app-interest-item>
        </div>
      </div>
      <div class="col-xs-12 col-lg-12">
        <button class="btn btn-primary btn-update-interest" (click)="onSubmit()">Update</button>
      </div>
    </section>
  </div>
</div>