<div class="row setting-wrap">
  <div class="col-lg-2 col-sm-4 col-xs-12 col-left">
    <app-member-navigation [data]="userInfo"></app-member-navigation>
  </div>
  <div class="col-lg-10 col-sm-8 col-xs-12 col-right">
    <section>
      <h3>Your Interests</h3>
      <div *ngIf="interests" class="row">
        <div *ngFor="let interest of interests" class="col-lg-2 col-md-3 col-sm-4 col-xs-6 interest-item-wrap">
          <app-interest-item [item] = "interest" ></app-interest-item>
        </div>
        <button class="btn btn-primary" (click)="onSubmit()">Update</button>
      </div>

    </section>
  </div>
</div>