<div class="setting-wrap table-wrap">
  <div class="col-lg-3 col-sm-4 col-xs-12 col-left table-cell">
    <app-member-navigation *ngIf="userInfo" [data]="userInfo" [slugName]="slugName" [userFollow]="userFollow" [showFollow]="true"></app-member-navigation>
  </div>
  <div class="col-lg-9 col-sm-8 col-xs-12 col-right table-cell">
    <section *ngIf="userInfo.userFollowing" class="follow-list-wrap">
      <h3 class="col-xs-12 count-follow">{{userInfo.userFollowing.length}} Following</h3>
      <div class="col-xs-12">
        <app-boostrap-alert *ngIf="msgContent" [type]="alertType" [content]="msgContent"></app-boostrap-alert>
      </div>
      <div class="infinite-list" (scroll)="onFollowScrollDown($event)"
           slimScroll
           width="100%"
           height="calc(100vh - 145px)"
           size="7px"
           [railVisible]="true"
           [railOpacity]="0.1"
           [railColor]="'#ec3d62'"
           [color]="'#ec3d62'">
          <app-follow-item [item]="following" [flag]="'following'" *ngFor="let following of userInfo.userFollowing"
                           (onUpdate)="updateFollow($event)"
                           class="col-lg-3 col-md-3 col-sm-4 col-xs-6 interest-item-wrap">
          </app-follow-item>
        <div class="list-bottom">
          <div *ngIf="set.loadingInProgress">Loading</div>
          <div *ngIf="set.endOfList">End Of List</div>
        </div>
      </div>
    </section>
  </div>
</div>