<div class="row setting-wrap">
  <div class="col-lg-2 col-sm-4 col-xs-12 col-left">
    <app-member-navigation [data]="userInfo"></app-member-navigation>
  </div>
  <div class="col-lg-10 col-sm-8 col-xs-12 col-right">
    <section *ngIf="userInfo">
      <h3>{{userInfo.userFollowing.length}} Following</h3>
      <div class="row">
        <app-follow-item [item] = "following" [flag] = "'following'" *ngFor="let following of userInfo.userFollowing" class="col-lg-3 col-md-3 col-sm-4 col-xs-6 interest-item-wrap"></app-follow-item>
      </div>
    </section>
  </div>
</div>