<section class="column col-sm-10 no-padding " [style.width]="innerWidth > 1023 ? layoutWidth + 'px' : ''" *ngIf="ready">
  <div class="">
    <div class="col-lg-12 col-xs-12 left-box table-cell">
      <!-- top content starticle -->
      <div class="top-content">
        <ul *ngIf="categories" class="list-category">

          <li class="title-hover dropdown"
              *ngFor="let category of categories"
              [class.active]="category.name === 'all'">

            <a [routerLink]="category.alias">{{category.name}}</a>

            <ul *ngIf="category.children.length" class="dropdown-menu sub-menu" aria-labelledby="dLabel">
              <li *ngFor="let child_category of category.children" class="dropdown">

                <a [routerLink]="child_category.alias">{{child_category.name}}</a>

                <ul *ngIf="child_category.children.length" class="dropdown-menu sub-menu" aria-labelledby="dLabel">
                  <li *ngFor="let grand_child_category of child_category.children">
                    <a [routerLink]="grand_child_category.alias">{{grand_child_category.name}}</a>
                  </li>
                </ul>

              </li>
            </ul>
          </li>
        </ul>
        <div class="clearfix"></div>
      </div>
      <!--top content end-->
      <!--primary content start-->
      <div class="primary-content">
        <div class="row wrap-post-content">
          <app-boostrap-carousel [interval]="NextPhotoInterval"
                                 [noWrap]="noLoopSlides"
                                 [id]="'curate-carousel'"
                                 [noPause]="noPause"
                                 [indicators]="false"
                                 [noTransition]="noTransition"
                                 class="custom-carousel col-xs-12 col-lg-12">
            <app-slide-carousel *ngFor="let slideGroup of featuredArticlesSlides">

              <div class="slide-group" *ngFor="let article of slideGroup">
                <img [src]="article.field_images" style="margin:auto;">
                <div class="carousel-caption">
                  <div class="carousel-content">
                    <strong [routerLink]="[article.slug]"
                            class="post-title-content title-hover text-ellipsis">
                      {{article.title | truncate : 60}}</strong>
                    <strong class="post-author">
                      <span class="auth-name">By: {{article.author.name}}</span>
                      <span class="time-post">{{article.created | amFromUnix | amTimeAgo}}</span>
                    </strong>
                  </div>
                </div>
              </div>
            </app-slide-carousel>
          </app-boostrap-carousel>
        </div>

        <h4 class="head">Editors Pick</h4>
        <div *ngIf="editorsPickArticles" class="row col-md-10 padding-0">
          <div *ngFor="let article of editorsPickArticles" class=" col-xs-6 col-md-6 col-lg-3 post-news article-item">
            <div style="overflow: hidden">
              <div class="image-post-news" [routerLink]="[article.slug]">
                <img class="post-content-img" [src]="article.field_images[0]" [alt]="article.title">
              </div>
            </div>
            <div class="new-info">
              <h4 class="post-title-content">
                <a class="title-hover" [routerLink]="[article.slug]">
                  {{article.title | truncate : 60}}
                </a>
              </h4>
              <p class="post-author">
                By: <span class="auth-name">{{article.author.name}}</span>
                <span class="time-post">{{article.created | amFromUnix | amTimeAgo}}</span>
              </p>
              <p class="content-post-news">
                {{article.body | myHtml2Text | truncate : 60}}
              </p>
            </div>
            <div class="clear"></div>
          </div>

          <div class="align-center padding-15px row" *ngIf="!loadingEditorsPickArticles && !noMoreEditorsPickArticles">
            <button class="btn btn-primary" (click)="showMoreEditorsPickArticles()">Show More</button>
          </div>
          <app-small-loader></app-small-loader>

        </div>

        <h4 class="head">Trending This Week</h4>
        <div class="width-80-percent align-self-center">
          <div id="exTab2">
            <ul class="nav nav-tabs align-center">
              <li [class.active]="showingArticlesTab">
                <a (click)="showArticlesTab()" data-toggle="tab">Articles</a>
              </li>
              <li [class.active]="showingEventsTab">
                <a (click)="showEventsTab()" data-toggle="tab">Events</a>
              </li>
              <li [class.active]="showingPlacesTab">
                <a (click)="showPlacesTab()" data-toggle="tab">Places</a>
              </li>
            </ul>

            <div class="tab-content">

              <div class="tab-pane" [class.active]="showingArticlesTab" id="trending-articles">
                <ul class="list-items">
                  <li class="col-lg-6 col-xs-12" *ngFor="let article of trendingArticles">
                    <a class="title-hover" [title]="article.title" [routerLink]="[article.slug]">
                      <img [src]="article.field_images" [alt]="article.title" width="100" height="100">
                      <p class="title-hover custom-text-ellipsis">{{article.title | myHtml2Text}}</p>
                    </a>
                  </li>
                </ul>
              </div>

              <div class="tab-pane" [class.active]="showingEventsTab" id="trending-events">
                <ul class="list-items">
                  <li class="col-lg-6 col-xs-12" *ngFor="let event of trendingEvents">
                    <a class="title-hover" [title]="event.name" [routerLink]="event.slug">
                      <img [src]="event.images[0]" [alt]="event.name" width="100" height="100">
                      <p class="title-hover custom-text-ellipsis">{{event.name | myHtml2Text}}</p>
                    </a>
                  </li>
                </ul>
              </div>

              <div class="tab-pane" [class.active]="showingPlacesTab" id="trending-places">
                <ul class="list-items">
                  <li class="col-lg-6 col-xs-12" *ngFor="let place of trendingPlaces">
                    <a class="title-hover" [title]="place.name" [routerLink]="place.slugName">
                      <app-place-image [routerLink]="['/company', place.slugName]" [name]="place.name" [width]="100"
                                       [height]="100" [licenseNumber]="place.licenseNumber">
                      </app-place-image>
                      <p class="title-hover custom-text-ellipsis">{{place.name | myHtml2Text}}</p>
                    </a>
                  </li>
                </ul>
              </div>

            </div>
          </div>
        </div>

        <h4 class="head border-top-solid">Curated By Community</h4>
        <div *ngIf="communityArticles" class="row col-md-10 padding-0">
          <div *ngFor="let article of communityArticles"
               class="col-xs-12 col-md-6 col-lg-3 height-420px">
            <div style="overflow: hidden; text-align: center">
              <div class="image-post-news" [routerLink]="[article.slug]">
                <img class="post-content-img" [src]="article.field_images[0]" [alt]="article.title">
              </div>
            </div>
            <div class="new-info">
              <h4 class="post-title-content">
                <a class="title-hover" [routerLink]="[article.slug]">
                  {{article.title | truncate : 60}}
                </a>
              </h4>
              <p class="post-author">
                By: <span class="auth-name">{{article.author.name}}</span>
                <span class="time-post">{{article.created | amFromUnix | amTimeAgo}}</span>
              </p>
              <p class="content-post-news">
                {{article.body | myHtml2Text | truncate : 60}}
              </p>
            </div>
            <div class="clear"></div>
          </div>
          <div class="align-center padding-15px" *ngIf="!loadingCommunityArticles && !noMoreCommunityArticles">
            <button class="btn btn-primary" (click)="showMoreCommunityArticles()">
              Show More
            </button>
          </div>
          <app-small-loader></app-small-loader>
          <div class="mobile-footer"></div>

        </div>

      </div>
      <!--primary content end-->
    </div>
  </div>

</section>
