<div class="column col-lg-5 col-xs-12 no-padding left-box frame_left page-eat" [style.width]="innerWidth > 1023 ? layoutWidth + 'px' : ''" >
  <form [formGroup]="filterCategory" class="filterCategory">
    <div>
      <div id="btnHeadFilter" ngbRadioGroup class="btn-block btn-filter-block" (change)="changeCategory()"
           (window:resize)="onResize($event)" name="radioBasic"
           formControlName="filterCategory">
        <label class="btn btn-default">
          <img src="../../../assets/img/icons/All.png" alt="All">
          <span class="clearfix">
                                <input type="radio" value="all"> All
                            </span>
        </label>
        <label class="btn btn-default" *ngFor="let term of categories">
          <img src="{{term.icon}}" alt="{{term.name}}">
          <span class="clearfix"> </span>
          <input type="radio" value="{{term.name}}">{{term.name}}
        </label>
        <label *ngIf="categoriesDraw?.length > 6" class="btn btn-default more"
               (click)="showAllKind(showAll)">
          <b></b><b></b><b></b>
        </label>
      </div>
    </div>
  </form>
  <div class="filterKeyword" style="position: relative">
    <ul class="list-inline itemSort" [class.showTab]="!showTab">
      <li>
        <a (click)="showRagePriceFind(showPrice)" class="price-range">Price Range <i
          [ngClass]="{'fa-angle-up':showPrice,'fa-angle-down':!showPrice}" class="fa "
          aria-hidden="true"></i></a>
      </li>
      <li>
        <a (click)="showCuisineFind(showCuisine)"
           class="when-button">Activities ({{totalCuisine}})<i
          [ngClass]="{'fa-angle-up':showCuisine,'fa-angle-down':!showCuisine}" class="fa "
          aria-hidden="true"></i></a>
      </li>
      <li>
        <a (click)="showRateFind(showRate)" class="when-button">Ratings <i
          [ngClass]="{'fa-angle-up':showRate,'fa-angle-down':!showRate}"
          class="fa"
          aria-hidden="true"></i></a>
      </li>
      <li>
        <a (click)="showBestFind(showBest)" class="when-button">Best For ({{best?.length}})<i
          [ngClass]="{'fa-angle-up':showBest,'fa-angle-down':!showBest}"
          class="fa"
          aria-hidden="true"></i></a>
      </li>
      <li class="type" *ngIf="!showTab">
        <a (click)="showTypeFind(showType)" class="when-button">Type ({{type?.length}})
          <i [ngClass]="{'fa-angle-up':showType,'fa-angle-down':!showType}" class="fa"
             aria-hidden="true"></i></a>
      </li>

      <!-- <span class="showMoreType" (click)="showAllType(showTab)">
          <i fa [class.fa-minus]="!showTab" class="fa-plus"></i>
      </span> -->
      <!-- <li class="showMoreType" (click)="showAllType(showTab)">
          <b></b><b></b><b></b>
      </li> -->

      <li class="showMoreType" (click)="showAllType(showTab)">
        <i class="sprite-icon sprite sprite-icon-add-light"></i>
      </li>

    </ul>
    <div class="find-content">

      <div *ngIf="showPrice" class="pricePreview">
        S${{priceRange[0]}}-$S{{priceRange[1]}}
      </div>

      <nouislider *ngIf="showPrice" [connect]="true" [min]="0" [max]="300" [step]="10" [keyboard]="true"
                  [(ngModel)]="priceRange"
                  style="margin-top: 2em;" [tooltips]="[true,true]">
      </nouislider>
      <div *ngIf="showPrice" class="price-desc"><span>$0</span><span
      ></span><span>$300</span></div>
      <div *ngIf="showCuisine">
        <div *ngFor="let item of filterData.cuisine; let in =index"
             style="margin-left: 43px" class="filter-item col-md-3">
          <div class="checkbox">
            <label>
              <input type="checkbox"
                     (change)="selectCheckBox($event.target.checked,item)" [checked]="item?.checked">{{item.name}}
            </label>
          </div>
          <div class="" *ngIf="item.sub" style="margin-left: 30px;">
            <div class="checkbox"
                 *ngFor="let sb of item.sub; let i = index">
              <label>
                <input type="checkbox"
                       (change)="selectCheckBox($event.target.checked,item,sb)"
                       [checked]="sb.checked">{{sb.name}}
              </label>
            </div>
          </div>
        </div>
      </div>
      <div *ngIf="showRate" class="text-center">
        <ul class="list-inline">
          <li *ngFor="let star of [1,2,3,4,5]" style="width: 80px">
            <div class="checkbox" *ngIf="star == 1">
              <label>
                <input type="checkbox" (change)="rateCheckbox($event.target.checked,star)"> {{star}} star
              </label>
            </div>
            <div class="checkbox" *ngIf="star != 1">
              <label>
                <input type="checkbox" (change)="rateCheckbox($event.target.checked,star)"> {{star}} stars
              </label>
            </div>
          </li>
        </ul>
      </div>
      <div *ngIf="showBest" class="best-for">
        <div *ngFor="let item of filterData.best; let in =index" class="filter-item"
             style="margin-left: 40px">
          <div class="checkbox">
            <label>
              <input type="checkbox"
                     (change)="bestChangeCheckBox($event.target.checked,item)" [checked]="item.checked">{{item.name}}
            </label>
          </div>
        </div>
      </div>
      <div *ngIf="showType && !showTab">
        <div *ngFor="let item of filterData.type; let in =index" class="filter-item"
             style="margin-left: 40px">
          <div class="checkbox">
            <label>
              <input type="checkbox"
                     (change)="typeChangeCheckBox($event.target.checked,item)" [checked]="item.checked">{{item.name}}
            </label>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="actionFilter" *ngIf="showPrice || showCuisine || showRate || showBest ||showType">
    <label class="btn btn-default" (click)="filterCancel()">Cancel</label>
    <label class="btn btn-default apply" (click)="filterSubmit()">Apply</label>
  </div>
  <div class="clearfix"></div>
  <div class="list-header list-header-table">
    <div class="table-cell text-left">
      <select class="form-control-static" [(ngModel)]="sortPlace" (change)="changeSort()">
        <option *ngFor="let or of sortBy" [ngValue]="or.id">{{or.name}}</option>
      </select>
    </div>
    <div class="table-cell text-right"><span (click)="clearAllFilter()">Clear Filters</span></div>
    <div class="clearfix"></div>
  </div>
  <app-boostrap-alert *ngIf="msgContent" [type]="alertType" [content]="msgContent"></app-boostrap-alert>
  <div class="clearfix"></div>

  <div id="v-scrollable" class="section v-scrollable">
    <div class="items" *ngFor="let item of items; let index = 'index'"
         [ngStyle]="{'transition': 'ease-in 15s'}" id="v{{index}}">
      <div class="list-items">
        <div class="avatar">
          <div class="badge">#{{index +1}}</div>
          <!--<img *ngIf="item.images && item.images?.length > 0" src="{{item.images[0].thumbnail}}">-->
          <app-place-image [routerLink]="['/company',item.Company_Slug]" [name]="item.name" [width]="100"
                           [height]="100">
          </app-place-image>
          <div (click)="onLikeEmit(item)" class="heart-icon">
            <i [class.sprite-Favourites20x20]="item.is_favorite"
               [class.sprite-Unfavourites20x20]="!item.is_favorite" class="sprite-icon sprite"></i>
          </div>
        </div>
        <div class="item-content">
          <h3 class="name pointer">
            <a class="title-hover" [routerLink]="['/company',item.Company_Slug]">
              {{item.Company_Name}}</a>
          </h3>
          <span *ngIf="item.distance" class="distance">{{item.distance}} km</span>
          <div class="clearfix"></div>
          <ngb-rating [rate]="item.rating.average" disabled="true">
            <ng-template let-fill="fill">
              <span *ngIf="fill === 100" class="star full">&#9733;</span>
              <span *ngIf="fill === 0" class="star">&#9733;</span>
              <span *ngIf="fill < 100 && fill > 0" class="star">
                                        <span class="half" [style.width.%]="fill">&#9733;</span>&#9733;
                                      </span>
            </ng-template>
          </ngb-rating>
          <span class="review">{{item.rating.total}} Reviews</span>
          <div class="box-content">
            <p *ngIf="item.Hylo_Activity_Description !==''" [innerHTML]="item.Hylo_Activity_Description | myHtml2Text | truncate : 60"></p>
          </div>
        </div>
        <div class="clearfix"></div>
      </div>
    </div>
    <div class="list-bottom">
      <app-small-loader></app-small-loader>
    </div>
  </div>

  <div id="notFoundDiv" *ngIf="shownotfound" class="not-found">
    <div><div class="sprite sprite-no-results-found" style="display: inline-block"></div></div>
    <h2>No Results Found</h2>
    <div>You can revise filters or <a (click)="clearAllFilter()" class="clear_filter">clear all filters</a>.</div>
  </div>

</div >
<div class="column col-lg-5 col-xs-12 no-padding right-box fixed-right map-right hidden-xs hidden-sm frame-right" [style.width]="innerWidth > 1023 ? layoutWidth + 'px' : ''" id="right">
  <div class="box-map" style="position: fixed; width:inherit; height: inherit;" [style.width]="innerWidth > 1023 ? layoutWidth + 'px' : ''">
    <sebm-google-map
      [latitude]="lat"
      [longitude]="lng"
      [zoom]="mapZoom"
      [disableDefaultUI]="false"
      [zoomControl]="false"
      [streetViewControl]="true"
      [styles]="gMapStyles"
      (centerChange)="centerChange($event)"
      (boundsChange)="boundsChange($event)"
    >
      <gmap-geocode-marker [markers]="markers" [showCircle]="showCircle"
                           [circleDraggable]="circleDraggable"
                           [lat]="lat"
                           (markerClick)="clickedMarker($event)"
                           [lng]="lng"></gmap-geocode-marker>

    </sebm-google-map>
  </div>
</div>
