<sebm-google-map-circle *ngIf="showCircle" [latitude]="lat" [longitude]="lng"
                        [radius]="currentRadius"
                        [fillColor]="'red'"
                        [circleDraggable]="true"
                        [editable]="true"
                        [clickable]="false"
                        (radiusChange)="markerRadiusChange($event)"
                        (dragEnd)="markerDragEnd($event)"
>
</sebm-google-map-circle>
<sebm-google-map-marker
        *ngFor="let m of markers; let i = index"
        (markerClick)="clickedMarker(i)"
        [latitude]="m.lat"
        [longitude]="m.lng"
        [iconUrl]="MARKER_ICON"
        [opacity]="m.opacity"
        [openInfoWindow]="m.isOpenInfo"
>
    <!--<sebm-google-map-info-window [maxWidth]="264" [isOpen]="m.isOpenInfo" [disableAutoPan]="true">-->
    <!--{{m.label}}-->
    <!--</sebm-google-map-info-window>-->
</sebm-google-map-marker>

