<article class="row new-list" *ngIf="ready">
  <!--header start-->
  <header>
    <ul>
      <li class="internal-link" (click)="switchView()" [class.active]="!showPreview">Event Info</li>
      <li class="internal-link" (click)="switchView()" [class.active]="showPreview">Preview</li>
    </ul>
  </header>
  <!--header end-->

  <!--form wrap start-->
  <div class="form-wrap col-xs-12 col-md-6" [class.hide]="showPreview">

    <form class="form-horizontal" [formGroup]="eventForm" (ngSubmit)="onSubmit()">
      <div class="input-box row">
        <h3 class="col-md-12 col-xs-12">Share an Event</h3>
        <small class="col-md-12 col-xs-12">An event is an activity tagged to a place</small>
        <div class="form-group col-md-12 col-xs-12">
          <label for="event-name">Name</label>
          <input formControlName="name" id="event-name" class="form-control"
                 type="text" [(ngModel)]="event.name" autofocus>
          <small *ngIf="eventForm.get('name').touched && eventForm.get('name').hasError('required')"
                 class="text-danger">
            Name event is required
          </small>
        </div>
        <div class="form-group col-md-12 col-xs-12">
          <label>Details</label>
          <div class="row">
            <app-tinymce formControlName='detail' [(ngModel)]="event.detail"></app-tinymce>
            <small *ngIf="eventForm.get('detail').touched && eventForm.get('detail').hasError('required')"
                   class="text-danger">
              Event detail is required
            </small>
          </div>
        </div>

        <div class="form-group location-place col-md-12 col-xs-12">
          <label>Location / Place</label>
          <app-hyper-search
            (onMapsChangePlace)="onMapsChangePlace($event)"
            (onHyloChangePlace)="onHyloChangePlace($event)"
            [text]="event.location.name">
          </app-hyper-search>
        </div>

        <div class="form-group list-categories col-md-12 col-xs-12">
          <label for="event-category">Category</label>
          <select [(ngModel)]="event.category.tid" name="" id="event-category" formControlName="category">
            <option *ngFor="let cat of categories, let i = index" [value]="cat.tid">
              {{cat.name}}
            </option>
          </select>
          <small *ngIf="eventForm.get('category').touched && eventForm.get('category').hasError('required')"
                 class="text-danger">
            Event category is required
          </small>
        </div>
        <div class="form-group list-tags col-md-12 col-xs-12">
          <label>Tags</label>
          <tag-input [(ngModel)]="tags" [modelAsStrings]="true"
                     placeholder="E.g performance, liveband, concert, food"
                     formControlName="tags">
            <tag-input-dropdown [displayBy]="'name'"
                                [identifyBy]="'name'" [autocompleteItems]="allTags">
            </tag-input-dropdown>
          </tag-input>
        </div>
        <div class="form-group list-img-box col-md-12 col-xs-12">
          <label class="control-label">Images</label>
          <label class="control-label" id="list-img-label" for="listImg" *ngIf="previewUrls.length < 4">
            <i class="fa fa-plus"></i>&nbsp;Add images
            <input class="form-control col-xs-12" id="listImg" formControlName="images" type='file' accept="image/*"
                   (change)="readUrl($event)" multiple="multiple">
          </label>
          <small *ngIf="!previewUrls" class="text-danger">
            Event images is required
          </small>
          <div class="list-img-wrap">
            <div *ngFor="let img of previewUrls" class="preview-wrap">
              <img [src]="img.url"/>
              <a class="fa fa-times delete-btn" (click)="onRemovePreview(img)"></a>
            </div>
          </div>
        </div>
      </div>

      <div class="option-info">
        <a (click)="showMore = !showMore">
          <i class="fa" [class.fa-plus]="!showMore" [class.fa-minus]="showMore" aria-hidden="true"></i> Optional info
        </a>
      </div>
      <div *ngIf="showMore" class="row option-info-content">
        <div class="input-box">
          <div class="form-group">
            <label for="event-start-date">Start Date / Time</label>
            <input id="event-start-date"
                   readonly
                   required
                   [(ngModel)]="startDate"
                   [min-date]="today"
                   (valueChanged)="onStartDateChange()"
                   formControlName="startDate"
                   ngui-datetime-picker/>
          </div>
          <div class="form-group">
            <label for="event-end-date">End Date / Time</label>
            <input id="event-end-date"
                   readonly
                   required
                   [min-date]="today"
                   [(ngModel)]="endDate"
                   formControlName="endDate"
                   ngui-datetime-picker/>
          </div>
          <div class="form-group" formArrayName="prices">
            <label>Price ($)</label>
            <input *ngFor="let price of eventForm.controls.prices.controls; let i=index"
                   [formControlName]="i"
                   class="form-control form-item"
                   min="0"
                   max="300"
                   value="0"
                   type="number"
                   (change)="onPriceChange($event)">
            <small id="eventPriceErr" class="text-danger"></small>
            <button type="button" class="btn btn-success add-mention-btn" (click)="addPrice()">
              <i class="fa fa-plus"></i>&nbsp;Add Price
            </button>
          </div>

          <div class="form-group field-group call-action-group row">
            <label>Call to Action</label>
            <div class="form-group" formGroupName="call2action">

              <select name="" id="event-type" formControlName="type">
                <option *ngFor="let type of actionTypes" [value]="type.value"
                        [selected]="type.display === event.call2action.action">
                  {{type.display}}
                </option>
              </select>
              <input formControlName="link"
                     id="event-link"
                     class="form-control"
                     type="text"
                     [(ngModel)]="event.call2action.link">
              <small id="eventLinkErr" class="text-danger"></small>
              <i class="fa fa-link" aria-hidden="true"></i>
            </div>
          </div>
          <div class="form-group">
            <label>Organized by</label>
            <div>
              <input formControlName="organizer" id="event-organized"
                     class="form-control"
                     type="text">
            </div>
          </div>
          <div class="form-group  mention-by-group">
            <label>Mentioned by</label>
            <div formArrayName="mentions">
              <div *ngFor="let mention of eventForm.controls.mentions.controls; let i=index">
                <input
                  [formControlName]="i"
                  placeholder="https://wwww.thesmartlocal.com/top-10-things-to-do-in"
                  type="text"
                  class="form-control form-item"
                  (change)="onMentionChange($event)">
              </div>
            </div>
          </div>
          <div class="form-group add-mention-group">
            <button type="button" class="btn btn-success add-mention-btn" (click)="addMention()">
              <i class="fa fa-plus"></i>&nbsp;Add Mention
            </button>
          </div>
        </div>
      </div>
      <div class="recaptcha">
        <re-captcha (captchaResponse)="checkCaptcha($event)" site_key="6LexpiUTAAAAABQlThPYAyDxBJoTP_QFzwdE4L9p">
        </re-captcha>
      </div>
      <div class="form-actions">
        <button type="submit"
                [disabled]="eventForm.invalid || previewUrls.length == 0 || !validCaptcha" class="btn btn-primary">
          Update
        </button>
        <button type="button" class="btn btn-success" (click)="onPreview()">Preview</button>
      </div>
      <div class="mobile-margin"></div>
    </form>
  </div>
  <!--form wrap end-->

  <!--list preview wrap start-->
  <div class="list-preview-wrap" [class.hide]="!showPreview" *ngIf="previewData">
    <div class="row">
      <div class="col-md-7 left-content">
        <div class="event-title">
          <img src="../../../assets/icon/icon-left/icon-left.png" srcset="../../../assets/icon/icon-left/icon-left@2x.png 2x,
             ../../../assets/icon/icon-left/icon-left@3x.png 3x" class="icon_left">
          <span class="One-Direction-Concer" [innerHTML]="previewData.name"></span>
        </div>

        <hr>

        <div class="row information-event">
          <ul class="left-content-information-event">
            <li>
              <span class="info-label"><i class="sprite sprite-location"></i><span>location</span></span><span
              class="info-value">{{previewData.place.place}}</span>
              <div class="clear"></div>
            </li>
            <li>
              <span class="info-label">
                <i class="sprite sprite-icon-calendar"></i>
                <span>start date / time</span>
              </span>
              <span class="info-value">{{startDate | date:'dd MMMM y, hh:mm a'}}</span>
              <div class="clear"></div>
            </li>
            <li>
              <span class="info-label"><i
                class="sprite sprite-icon-calendar"></i>
                <span>end date / time</span>
              </span>
              <span class="info-value">{{endDate | date:'dd MMMM y, hh:mm a'}}</span>
              <div class="clear"></div>
            </li>
            <li>
              <span class="info-label"><i class="sprite sprite-tag"></i><span>Prices</span></span>
              <span class="info-value">
                <span *ngIf="prices">
                  <span *ngFor="let price of prices">${{price}}, </span>
                </span>
                <span *ngIf="!prices">Free</span>
              </span>
              <div class="clear"></div>
            </li>
            <li>
              <span class="info-label"><i class="sprite sprite-permalink-gray"></i><span>Booking</span>
              </span>
              <span class="info-value">
              <a href="{{previewData.call2action.link}}" target="_blank" class="mention_link">
                <span class="action">{{previewData.call2action.action}}</span>
              </a>
            </span>
              <div class="clear"></div>
            </li>
            <li *ngIf="previewData.organizer">
              <span class="info-label"><i class="sprite sprite-tag"></i><span>Organized by</span></span>
              <span class="info-value">{{previewData.organizer}}
              </span>
              <div class="clear"></div>
            </li>
            <li *ngIf="previewData.mentions.length">
              <span class="info-label mentioned_by">Mentioned by</span>
              <ul class="list-mention">
                <li class="mention" *ngFor="let mention of previewData.mentions">
                  <a [href]="mention.url" target="_blank">
                    <img [src]="mention.iconUrl" alt="mention"></a>
                </li>
              </ul>
              <div class="clear"></div>
            </li>
          </ul>
          <div class="right-creator-share-event text-center pull-right">
            <h4 class="title-creator">Created by</h4>
            <a>
              <p class="avatar-creator">
                <img [src]="user.avatar" alt="avatar" class="img-circle" width="70"
                     height="70">
              </p>
              <p class="name-creator">
                {{user.name}}
              </p>
            </a>
          </div>
        </div>

        <hr>

        <div class="detail-event">
          <h5 class="bold">Details</h5>
          <p [innerHTML]="previewData.detail">
          </p>
        </div>

        <hr>

        <div class="post-experience">
          <h4 class="experiences-post-review">Experiences (0)</h4>
          <h5 class="bold">Post your experience</h5>
          <img class="img-circle pull-left" [src]="user.avatar" alt="{{user.name}}" width="70" height="70">
          <p class="rate-stars-post-experiences">
            <i fa [name]="'star-o'" [size]=1></i>
            <i fa [name]="'star-o'" [size]=1></i>
            <i fa [name]="'star-o'" [size]=1></i>
            <i fa [name]="'star-o'" [size]=1></i>
            <i fa [name]="'star-o'" [size]=1></i>
          </p>
          <p>
            <textarea style="min-width: 90%" placeholder="What's your experience here?"></textarea>
          </p>
          <p class="add-images-button-post-review">
            <a>+ Add Images</a>
          </p>
        </div>
        <div class="mobile-footer"></div>
      </div>

      <div class="col-md-5 right-content">

        <div class="row">
          <carousel [interval]="NextPhotoInterval" [noWrap]="noLoopSlides" [noTransition]="noTransition"
                    [carouselSlides]="slides">
            <slide *ngFor="let slide of slides; let index=index" [active]="slide.active"
                   [ngStyle]="{
                   'background-image': 'url(' + slide.image + ')',
                   'background-position': 'center, center',
                    'height': '480px', 'background-size': 'cover'}">
            </slide>
          </carousel>
        </div>

        <div class="event-location hidden-md hidden-xs hidden-sm">
          <p>Location</p>
          <sebm-google-map [latitude]="previewData.place.lat" [longitude]="previewData.place.lng"
                           [zoom]="13" [styles]="gMapStyles">
            <sebm-google-map-marker [latitude]="previewData.place.lat" [longitude]="previewData.place.lng">
            </sebm-google-map-marker>
          </sebm-google-map>
        </div>
      </div>
    </div>
  </div>
  <!--list preview wrap end-->

  <!--Hacking to display correct date format-->
  <input [(ngModel)]="startDate" ngui-datetime-picker time-only="true" style="display: none">
  <input [(ngModel)]="endDate" ngui-datetime-picker time-only="true" style="display: none">

</article>
